# Practice 3. ë¹…ë°ì´í„° ë¶„ì„ ì‹¤ìŠµ (ì‘ì—…í˜• ì œ2ìœ í˜•)
---

## ğŸ“ ì˜ˆì œ ë¬¸ì œ : Penguins

- 2014ë…„ ë‚¨ê·¹ í­ê·„ ê³µë™ì²´ ë‚´ ìƒíƒœí•™ì  ì„±ì  ì´í˜•ì„±ê³¼ í™˜ê²½ì  ë³€ë™ì„±ì— ê´€í•œ ì—°êµ¬ ë°ì´í„°
- ë‹¤ì–‘í•œ ì¢…ì˜ í­ê·„ë“¤ì˜ ì„œì‹ì§€ì™€ ì£¼ìš” ì‹ ì²´ í¬ê¸°ì™€ ë¬´ê²Œì— ëŒ€í•œ 7ê°€ì§€ ì •ë„ì˜ ë°ì´í„°ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤.
- `Palmer's Penguin`ì´ë¼ëŠ” ë°ì´í„° ì„¸íŠ¸ë¡œë„ ì•Œë ¤ì ¸ ìˆìœ¼ë©°, ì‹œê°í™” íŒ¨í‚¤ì§€ ì¤‘ í•˜ë‚˜ì¸ `seaborn` íŒ¨í‚¤ì§€ì— ì˜ˆì œ ë°ì´í„° ì„¸íŠ¸ë¡œ ì¡´ì¬í•œë‹¤.
- ì´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ í­ê·„ì˜ ë¬´ê²Œë¥¼ ì˜ˆì¸¡í•˜ëŠ” **íšŒê·€ ë¶„ì„**ì„ ì§„í–‰í•´ë³´ì.

### ì œê³µ ë°ì´í„° ëª©ë¡

- `penguin_y_train.csv` : í­ê·„ì˜ ë¬´ê²Œ ë°ì´í„°(í•™ìŠµìš©), csv í˜•ì‹
- `penguin_X_train.csv`, `penguin_X_test.csv` : í­ê·„ì˜ ì†ì„±(í•™ìŠµìš© ë° í‰ê°€ìš©), csv í˜•ì‹

In [2]:
X_train

NameError: name 'X_train' is not defined

In [ ]:
y_train

     body_mass_g
0         4250.0
1         4650.0
2         4250.0
3         4500.0
4         5700.0
..           ...
235       3800.0
236       5950.0
237       3200.0
238       3575.0
239       4700.0

[240 rows x 1 columns]

In [ ]:
X_test

,species,island,sex,bill_length_mm,bill_depth_mm,flipper_length_mm
0,Adelie,Torgersen,MALE,42.1,19.1,195.0
1,Gentoo,Biscoe,MALE,45.5,15.0,220.0
2,Adelie,Biscoe,MALE,40.6,18.8,193.0
3,Adelie,Dream,FEMALE,39.5,17.8,188.0
4,Gentoo,Biscoe,FEMALE,45.1,14.5,207.0
...,...,...,...,...,...,...
96,Gentoo,Biscoe,MALE,45.2,15.8,215.0
97,Adelie,Torgersen,FEMALE,40.3,18.0,195.0
98,Gentoo,Biscoe,FEMALE,46.5,14.5,213.0
99,Gentoo,Biscoe,MALE,49.6,15.0,216.0
100,Adelie,Torgersen,FEMALE,39.6,17.2,196.0

## ğŸ‘¨ğŸ»â€ğŸ’» ë¬¸ì œ í’€ê¸°

### íŒ¨í‚¤ì§€, ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [3]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')    # ì½”ë“œ ì‹¤í–‰ì— ì§ì ‘ì ì¸ ë¬¸ì œê°€ ë˜ì§€ ì•ŠëŠ” ê²½ê³  ë¬¸êµ¬ ë¬´ì‹œí•˜ê¸°

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [4]:
X_test = pd.read_csv('./datasets/Part2/penguin_X_test.csv')
X_train = pd.read_csv('./datasets/Part2/penguin_X_train.csv')
y_train = pd.read_csv('./datasets/Part2/penguin_y_train.csv')

### ë°ì´í„° ì „ì²˜ë¦¬

In [5]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None

<div class="alert alert-success">
    240ê°œì˜ í–‰ê³¼ 6ê°œì˜ ì»¬ëŸ¼ìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤. 6ê°œì˜ ë³€ìˆ˜ë¥¼ ë…ë¦½ ë³€ìˆ˜ë¡œ ë‘ê³  ë¶„ì„ì„ ì§„í–‰í•œë‹¤. <br/> 
    sexì— 8ê°œ, bill_length_mm, bill_depth_mm, flipper_length_mmì— ê°ê° 2ê°œì˜ ê²°ì¸¡ì¹˜ê°€ ìˆìŒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤. <br/>
</div>

- ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ë¥¼ ì§ì ‘ í™•ì¸í•´ë³¸ë‹¤.

In [6]:
train = pd.concat([X_train, y_train], axis=1)    # y_train ë°ì´í„°ë¥¼ í¬í•¨í•˜ì—¬ ê²°ì¸¡ì¹˜ í™•ì¸ì„ í•´ì•¼ í•œë‹¤. axis=1 ì¡°ê±´ì„ ë„£ì—ˆê¸° ë•Œë¬¸ì— ë‘ ë°ì´í„°í”„ë ˆì„ì´ ì¢Œìš°ë¡œ ë¶™ëŠ”ë‹¤.
print(train.loc[(train.sex.isna()) | (train.bill_length_mm.isna()) | (train.bill_depth_mm.isna()) | (train.flipper_length_mm.isna()) | (train.body_mass_g.isna())])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen  NaN            42.0           20.2              190.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN

     body_mass_g
0         4250.0
6         4100.0
43           NaN
66        3700.0
88        4725.0
89        3300.0
110       4875.0
229          NaN

- 8ê°œì˜ ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•˜ëŠ” ë°©ì‹ì„ ì„ íƒí–ˆë‹¤.

In [7]:
train = train.dropna()
train.reset_index(drop=True, inplace=True)    # ì œê±°ëœ í–‰ì˜ ì¸ë±ìŠ¤ê°€ ë¹„ì–´ ìˆëŠ” ìƒíƒœë¡œ ë°ì´í„°ê°€ ìœ ì§€ë˜ë¯€ë¡œ, ì¸ë±ìŠ¤ë¥¼ ì´ˆê¸°í™”í•œë‹¤.

- ê²°ì¸¡ì¹˜ ì²˜ë¦¬ë¥¼ ì™„ë£Œí–ˆìœ¼ë¯€ë¡œ ë¶™ì˜€ë˜ í•™ìŠµìš© ë°ì´í„°ë¥¼ ë‹¤ì‹œ **ë…ë¦½ ë³€ìˆ˜(`X`)** ì™€ **ì¢…ì† ë³€ìˆ˜(`y`)** ë¡œ ë¶„ë¦¬ì‹œí‚¨ë‹¤.

In [8]:
X_train = train[['species', 'island', 'sex', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']]
y_train = train[['body_mass_g']]

In [9]:
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

- ì´ìƒì¹˜ê°€ ì—†ëŠ” ê²ƒìœ¼ë¡œ ë³´ì´ë©°, ê° ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì˜ ë²”ìœ„ê°€ ìƒì´í•˜ê¸° ë•Œë¬¸ì— ì¶”í›„ ìŠ¤ì¼€ì¼ë§ì´ í•„ìš”í•œ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

In [10]:
COL_DEL = []
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']    # ìˆ˜ì¹˜í˜• ë³€ìˆ˜
COL_CAT = ['species', 'island', 'sex']    # ë²”ì£¼í˜• ë³€ìˆ˜
COL_Y = ['body_mass_g']

- ìˆ˜ì¹˜í˜• ë³€ìˆ˜ëŠ” ëª¨ë¸ë§ì„ ì§„í–‰í•˜ë©´ì„œ ìŠ¤ì¼€ì¼ë§ì„ ì§„í–‰í•  ì˜ˆì •ì´ë‹¤.
    - ìŠ¤ì¼€ì¼ë§ì€ í‰ê· ê³¼ ë¶„ì‚°ì— ì˜í–¥ì„ ì¤„ ìˆ˜ ìˆê¸° ë•Œë¬¸ì— í•™ìŠµ ë°ì´í„°ë¡œë§Œ ì§„í–‰í•œë‹¤.
- ë²”ì£¼í˜• ë³€ìˆ˜ì— ëŒ€í•´ ë ˆì´ë¸” ì¸ì½”ë”©ì´ í•„ìš”í•˜ë‹¤.
    - ë ˆì´ë¸” ì¸ì½”ë”©ì€ í˜„ì¬ ë‹¨ê³„ì—ì„œ ëª¨ë“  ë°ì´í„°ë¥¼ í¬í•¨í•˜ì—¬ ì§„í–‰í•œë‹¤.

In [11]:
X = pd.concat([X_train, X_test])    # axis=1 ì¡°ê±´ì„ ë„£ì§€ ì•Šì•„ ê¸°ë³¸ìœ¼ë¡œ ì„¤ì •ëœ ì¡°ê±´ì— ë”°ë¼ ìƒí•˜ë¡œ ë¶™ëŠ”ë‹¤.

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])    # í•™ìŠµ ë°ì´í„°
X_test_res = ohe.transform(X_test[COL_CAT])    # í…ŒìŠ¤íŠ¸ ë°ì´í„°

In [12]:
print(X_train_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0

- `transform`ëœ ë°ì´í„°ëŠ” `numpy array`ë¡œ ë§Œë“¤ì–´ì§„ ë°ì´í„°ì´ë©°, ê¸°ì¡´ì— ì‚¬ìš©í•˜ë˜ ë°ì´í„°í”„ë ˆì„ì´ ì•„ë‹Œ íŠ¹ì • í–‰ë ¬ ì¢Œí‘œì— 1, 0 ê°’ì´ ì¡´ì¬í•œë‹¤ëŠ” ë°©ì‹ìœ¼ë¡œ í‘œí˜„í•œ í¬ì†Œ í–‰ë ¬ì„ íš¨ìœ¨ì ìœ¼ë¡œ ì¤„ì—¬ì„œ í‘œí˜„í•œ ë°ì´í„°ì´ë‹¤.
- ì´ê²ƒì„ ê¸°ì¡´ì˜ ë°ì´í„°ì— ì ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜ì‹œí‚¤ëŠ” ì‘ì—…ì´ í•„ìš”í•˜ë‹¤.

In [15]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns=ohe.get_feature_names_out())    # todense í•¨ìˆ˜ë¥¼ ë¶™ì´ê³  get_feature_names_out í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë³€í™˜ëœ ë²”ì£¼í˜• ë³€ìˆ˜ë¥¼ ë§Œë“¤ ìˆ˜ ìˆë‹¤.
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns=ohe.get_feature_names_out())
print(X_train_ohe)

     species_Adelie  species_Chinstrap  species_Gentoo  island_Biscoe  \
0               0.0                0.0             1.0            1.0
1               1.0                0.0             0.0            0.0
2               0.0                1.0             0.0            0.0
3               0.0                0.0             1.0            1.0
4               1.0                0.0             0.0            0.0
..              ...                ...             ...            ...
227             0.0                1.0             0.0            0.0
228             0.0                0.0             1.0            1.0
229             1.0                0.0             0.0            0.0
230             0.0                1.0             0.0            0.0
231             0.0                0.0             1.0            1.0

     island_Dream  island_Torgersen  sex_FEMALE  sex_MALE
0             0.0               0.0         1.0       0.0
1             0.0               1.0         0.0       1.0
2             1.0               0.0         0.0       1.0
3             0.0               0.0         0.0       1.0
4             1.0               0.0         1.0       0.0
..            ...               ...         ...       ...
227           1.0               0.0         1.0       0.0
228           0.0               0.0         0.0       1.0
229           0.0               1.0         1.0       0.0
230           1.0               0.0         1.0       0.0
231           0.0               0.0         1.0       0.0

[232 rows x 8 columns]

- `OneHotEncoding`ì„ í†µí•´ ìƒì„±í•œ ë°ì´í„°ì™€ ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë¡œë§Œ ì´ë£¨ì–´ì§„ ë‘ ë°ì´í„°ë¥¼ `concat` í•¨ìˆ˜ë¥¼ í†µí•´ í•©ì³ì¤€ë‹¤.

In [16]:
X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis=1)

### ë°ì´í„° ëª¨í˜• êµ¬ì¶•

#### ë°ì´í„° ë¶„í•

In [17]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.3)

#### ìŠ¤ì¼€ì¼ë§

- ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì— ëŒ€í•´ ìŠ¤ì¼€ì¼ë§ì„ ì§„í–‰í•œë‹¤.

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM] = scaler.transform(X_test_fin[COL_NUM])

<div class="alert alert-warning">
    fit í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•  ë•ŒëŠ” X_tr ë°ì´í„°ë§Œì„ ì‚¬ìš©í•˜ë„ë¡ í•œë‹¤. ê·¸ë˜ì•¼ë§Œ í‰ê· ê³¼ ë¶„ì‚°ì— ì˜í–¥ì„ ë¯¸ì¹˜ëŠ” ë°ì´í„° ëˆ„ìˆ˜ê°€ ë°œìƒí•˜ì§€ ì•ŠëŠ”ë‹¤.
</div>

### ëª¨ë¸ í•™ìŠµ

In [19]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[[3424.]
 [4280.]
 [4668.]
 [5316.]
 [3936.]
 [4076.]
 [5268.]
 [4112.]
 [4196.]
 [4048.]
 [3876.]
 [3316.]
 [4340.]
 [3372.]
 [4952.]
 [3344.]
 [3900.]
 [3392.]
 [4180.]
 [4632.]
 [3900.]
 [5368.]
 [3460.]
 [3760.]
 [4084.]
 [3556.]
 [5384.]
 [5392.]
 [3924.]
 [3304.]
 [4176.]
 [3468.]
 [3568.]
 [5240.]
 [3924.]
 [3496.]
 [5416.]
 [3096.]
 [4712.]
 [5516.]
 [3292.]
 [3476.]
 [4140.]
 [3400.]
 [5652.]
 [3320.]
 [4724.]
 [3300.]
 [3860.]
 [5376.]
 [3340.]
 [3312.]
 [5428.]
 [4996.]
 [3104.]
 [4724.]
 [4720.]
 [3296.]
 [4148.]
 [4032.]
 [5520.]
 [4268.]
 [4596.]
 [3696.]
 [4856.]
 [3472.]
 [4816.]
 [4812.]
 [5332.]
 [5408.]]

In [20]:
print(modelLR.intercept_)    # ì ˆí¸ êµ¬í•˜ê¸°

# ê¸°ìš¸ê¸° êµ¬í•˜ê¸°
coef = pd.Series(data=modelLR.coef_[0], index=X_train_fin.columns)
print(coef.sort_values())

[2.46357982e+16]
species_Chinstrap   -2.373728e+16
species_Adelie      -2.373728e+16
species_Gentoo      -2.373728e+16
island_Dream        -8.985170e+14
island_Torgersen    -8.985170e+14
island_Biscoe       -8.985170e+14
sex_FEMALE          -1.853699e+02
sex_MALE             1.773699e+02
bill_depth_mm        3.719805e+02
bill_length_mm       7.234520e+02
flipper_length_mm    9.738607e+02
dtype: float64