# Practice 4. ë¹…ë°ì´í„° ë¶„ì„ ì‹¤ìŠµ (ì‘ì—…í˜• ì œ2ìœ í˜•)
---

## ğŸ“ ì˜ˆì œ ë¬¸ì œ : Census Income

- 1994ë…„ Census Bureau Databaseì—ì„œ ì¶”ì¶œëœ ë°ì´í„° ì„¸íŠ¸
- ì›ë³¸ ë°ì´í„°ëŠ” UCI ë¨¸ì‹ ëŸ¬ë‹ ë ˆí¬ì§€í† ë¦¬ì—ì„œ í™•ì¸í•  ìˆ˜ ìˆìœ¼ë©°, ì¼ë¶€ ë³€ìˆ˜ë¥¼ ì œê±°í•˜ëŠ” ë“± ì‹¤ìŠµìš©ìœ¼ë¡œ ìˆ˜ì •í•˜ì˜€ë‹¤.
- ì‚¬ëŒë“¤ì˜ ë‚˜ì´, êµìœ¡ ìˆ˜ì¤€, ê²°í˜¼ ì—¬ë¶€ ë“±ì˜ íŠ¹ì„±ê³¼ ì—°ì†Œë“ì´ 5ë§Œ ë‹¬ëŸ¬ë¥¼ ë„˜ëŠ”ì§€ì˜ ì—¬ë¶€ì— ëŒ€í•œ ì •ë³´ë¥¼ ë‹´ê³  ìˆë‹¤.
- ì´ë¥¼ ì´ìš©í•´ì„œ **ë¶„ë¥˜ ë¶„ì„**ì„ ìˆ˜í–‰í•´ë³¸ë‹¤.

### ì œê³µ ë°ì´í„° ëª©ë¡

- `census_y_train.csv` : ì—°ì†Œë“ 5ë§Œ ë‹¬ëŸ¬ ì´ˆê³¼ ì—¬ë¶€ ë°ì´í„°
- `census_X_train.csv`, `census_X_test.csv` : ì¸êµ¬ íŠ¹ì„±(í•™ìŠµìš© ë° í‰ê°€ìš©)

In [4]:
X_train

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
30158,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
30159,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
30160,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
30161,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [5]:
X_test

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,34,Private,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States
15056,39,Private,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
15057,38,Private,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
15058,44,Private,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
15059,35,Self-emp-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [6]:
y_train

       target
0           0
1           0
2           0
3           0
4           0
...       ...
30157       0
30158       1
30159       0
30160       0
30161       1

[30162 rows x 1 columns]

## ğŸ‘¨ğŸ»â€ğŸ’» ë¬¸ì œ í’€ê¸°

In [2]:
import pandas as pd
import numpy as np

In [3]:
X_test = pd.read_csv("./datasets/Part2/census_X_test.csv")
X_train = pd.read_csv("./datasets/Part2/census_X_train.csv")
y_train = pd.read_csv("./datasets/Part2/census_Y_train.csv")

### ë°ì´í„° ì „ì²˜ë¦¬

- `info()` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ **ì»¬ëŸ¼ ì •ë³´, ê²°ì¸¡ì¹˜ê°€ ì•„ë‹Œ ì •ìƒì ì¸ ë°ì´í„° ê°œìˆ˜, ë°ì´í„° íƒ€ì…**ì„ í™•ì¸í•œë‹¤.

In [7]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   education_num   30162 non-null  int64
 3   marital_status  30162 non-null  object
 4   occupation      30162 non-null  object
 5   relationship    30162 non-null  object
 6   race            30162 non-null  object
 7   sex             30162 non-null  object
 8   capital_gain    30162 non-null  int64
 9   capital_loss    30162 non-null  int64
 10  hours_per_week  30162 non-null  int64
 11  native_country  30162 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.8+ MB
None

- ë¬¸ìì—´ë¡œëœ ë³€ìˆ˜ëŠ” ëª¨ë¸ í•™ìŠµ ì „ ì¸ì½”ë”© ì‘ì—…ì´ í•„ìš”í•˜ë‹¤.
- `describe()` í•¨ìˆ˜ë¥¼ í†µí•´ **í‰ê· , í‘œì¤€í¸ì°¨, ì‚¬ë¶„ìœ„ìˆ˜** ë“± ê¸°ë³¸ì ì¸ **ìš”ì•½ í†µê³„ëŸ‰ ê°’**ì„ í™•ì¸í•œë‹¤.

In [8]:
print(X_train.describe())

                age  education_num  capital_gain  capital_loss  hours_per_week
count  30162.000000   30162.000000  30162.000000  30162.000000    30162.000000
mean      38.437902      10.121312   1092.007858     88.372489       40.931238
std       13.134665       2.549995   7406.346497    404.298370       11.979984
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

<div class="alert alert-info">
    capital_gain, capital_loss ë‘ ë³€ìˆ˜ëŠ” ë°ì´í„°ê°€ ì˜¤ë¥¸ìª½ìœ¼ë¡œ í¬ê²Œ ì¹˜ìš°ì³ì ¸ ìˆëŠ” ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.
</div>

- ë‘ ë³€ìˆ˜ì˜ 75 ë°±ë¶„ìœ„ìˆ˜ ~ 100 ë°±ë¶„ìœ„ìˆ˜ ë²”ìœ„ë¥¼ 5 ë°±ë¶„ìœ„ìˆ˜ ë‹¨ìœ„ë¡œ ìª¼ê°œì–´ì„œ ì‚´í´ë³´ì.

In [9]:
print(X_train['capital_gain'].quantile([q / 20 for q in range(15, 21)]))

0.75        0.0
0.80        0.0
0.85        0.0
0.90        0.0
0.95     5013.0
1.00    99999.0
Name: capital_gain, dtype: float64

In [10]:
print(X_train['capital_loss'].quantile([q / 20 for q in range(15, 21)]))

0.75       0.0
0.80       0.0
0.85       0.0
0.90       0.0
0.95       0.0
1.00    4356.0
Name: capital_loss, dtype: float64

<div class="alert alert-info">
    capital_gain ë³€ìˆ˜ëŠ” 10% ì´ë‚´, capital_loss ë³€ìˆ˜ëŠ” 5% ì´ë‚´ë§Œ 0ë³´ë‹¤ í° ê°’ì„ ê°–ëŠ”ë‹¤.
    <br/>
    ì´ ê²½ìš°, ë³€ìˆ˜ ê·¸ëŒ€ë¡œ ì‚¬ìš©í•˜ê±°ë‚˜, ë°ì´í„° ë³€í™˜ì„ í•˜ê±°ë‚˜, ë²”ì£¼í˜• ë³€ìˆ˜ë¡œ ë³€í™˜í•˜ì—¬ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.
</div>

- ë²”ì£¼í˜• ë³€ìˆ˜ë¡œ ë³€í™˜í•˜ì—¬ ìƒˆë¡œìš´ íŒŒìƒ ë³€ìˆ˜ë¥¼ ë§Œë“¤ê³ , ì´ˆë„ ëª¨ë¸ë§ ì´í›„ ë³€ìˆ˜ ì¤‘ìš”ë„ë¥¼ í†µí•´ ê¸°ì¡´ ë³€ìˆ˜ì™€ íŒŒìƒ ë³€ìˆ˜ ì¤‘ ì–´ë–¤ ë³€ìˆ˜ê°€ ë” ì¤‘ìš”í•˜ê²Œ ì“°ì´ëŠ”ì§€ í™•ì¸í•´ë³´ì.
    - `where` í•¨ìˆ˜ë¥¼ ì´ìš©í•´ì„œ íŒŒìƒ ë³€ìˆ˜ `capital_gain_yn`, `capital_loss_yn`ì„ ë§Œë“ ë‹¤.

In [11]:
X_train['capital_gain_yn'] = np.where(X_train['capital_gain'] > 0, 1, 0)
X_train['capital_loss_yn'] = np.where(X_train['capital_loss'] > 0, 1, 0)

X_test['capital_gain_yn'] = np.where(X_test['capital_gain'] > 0, 1, 0)
X_test['capital_loss_yn'] = np.where(X_test['capital_loss'] > 0, 1, 0)

- ì¢…ì† ë³€ìˆ˜ ê°’ë³„ë¡œ ë…ë¦½ ë³€ìˆ˜ ê°’ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€ íƒìƒ‰í•˜ê¸° ìœ„í•´ ë³€ìˆ˜ ì¢…ë¥˜ë³„ë¡œ ë‚˜ëˆ ë³¸ë‹¤.

In [12]:
COL_DEL = []
COL_NUM = ['age', 'education_num', 'hours_per_week', 'capital_gain', 'capital_loss']    # ìˆ˜ì¹˜í˜• ë³€ìˆ˜
COL_CAT = ['workclass', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'capital_gain_yn', 'capital_loss_yn']    # ë²”ì£¼í˜• ë³€ìˆ˜
COL_Y = ['target']

X_train = X_train.drop(COL_DEL, axis=1)
X_test = X_test.drop(COL_DEL, axis=1)

- ë¨¼ì € ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì— ëŒ€í•´ ì¢…ì† ë³€ìˆ˜ ê°’ë³„ë¡œ ê° ë…ë¦½ ë³€ìˆ˜ì˜ ë¶„í¬ë¥¼ í™•ì¸í•´ë³´ì.

In [13]:
train_df = pd.concat([X_train, y_train], axis=1)

for _col in COL_NUM:
    print("-" * 80)
    print(_col)
    print(train_df.groupby(COL_Y)[_col].describe(), end="\n\n")

--------------------------------------------------------------------------------
age
          count      mean        std   min   25%   50%   75%   max
target
0       22654.0  36.60806  13.464631  17.0  26.0  34.0  45.0  90.0
1        7508.0  43.95911  10.269633  19.0  36.0  43.0  51.0  90.0

--------------------------------------------------------------------------------
education_num
          count       mean       std  min   25%   50%   75%   max
target
0       22654.0   9.629116  2.413596  1.0   9.0   9.0  10.0  16.0
1        7508.0  11.606420  2.368423  2.0  10.0  12.0  13.0  16.0

--------------------------------------------------------------------------------
hours_per_week
          count       mean        std  min   25%   50%   75%   max
target
0       22654.0  39.348592  11.950774  1.0  38.0  40.0  40.0  99.0
1        7508.0  45.706580  10.736987  1.0  40.0  40.0  50.0  99.0

--------------------------------------------------------------------------------
capital_gain
          count         mean           std  min  25%  50%  75%      max
target
0       22654.0   148.893838    936.392280  0.0  0.0  0.0  0.0  41310.0
1        7508.0  3937.679808  14386.060019  0.0  0.0  0.0  0.0  99999.0

--------------------------------------------------------------------------------
capital_loss
          count        mean         std  min  25%  50%  75%     max
target
0       22654.0   53.448000  310.270263  0.0  0.0  0.0  0.0  4356.0
1        7508.0  193.750666  592.825590  0.0  0.0  0.0  0.0  3683.0

<div class="alert alert-info">
    age, education_num, hours_per_week ë³€ìˆ˜ ëª¨ë‘ ì¢…ì† ë³€ìˆ˜ ê°’ì´ 1ì¼ ë•Œì˜ í‰ê· ì´ 0ì¼ ë•Œì˜ í‰ê· ë³´ë‹¤ ë” í¬ë‹¤. <br/>
    capital_gain, capital_lossëŠ” ì¢…ì† ë³€ìˆ˜ ê°’ì— ë”°ë¥¸ í‰ê·  ê°’ ì°¨ì´ê°€ ë” í¬ë‹¤. <br/>
    ìˆ˜ì¹˜í˜• ë³€ìˆ˜ ëª¨ë‘ ì¢…ì† ë³€ìˆ˜ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ë° ì‚¬ìš©í•  ë§Œí•˜ë‹¤ê³  ë³´ì¸ë‹¤.
</div>

- ê° ë²”ì£¼í˜• ë³€ìˆ˜ë³„ë¡œ ë²”ì£¼ê°’ë³„ ì¢…ì† ë³€ìˆ˜ í‰ê· ì„ í™•ì¸í•´ë³´ì.
- ë²”ì£¼ê°’ì— ë”°ë¼ ì¢…ì† ë³€ìˆ˜ê°€ `1`ì¸ ë¹„ìœ¨ì´ ì°¨ì´ê°€ ìˆëŠ”ì§€ ê°„ë‹¨íˆ í™•ì¸í•˜ëŠ” ë°©ë²•ì´ë‹¤.

In [14]:
for _col in COL_CAT:
    print(train_df.groupby(_col, as_index=False)[COL_Y].mean().sort_values(by=COL_Y, ascending=False), end="\n\n")

          workclass    target
3      Self-emp-inc  0.558659
0       Federal-gov  0.387063
1         Local-gov  0.294630
4  Self-emp-not-inc  0.285714
5         State-gov  0.268960
2           Private  0.218792
6       Without-pay  0.000000

KeyError: 'martial_status'