# Practice 5. 빅데이터 분석 실습 (작업형 제1유형)
---

### (1) Iris 데이터 세트
---
- 다음은 Iris 데이터 세트이다. 아래 문제 01 ~ 05의 답을 구하여라.

In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv("./datasets/Part2/iris.csv")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

|변수|설명|
|:-:|:-:|
|`sepal_length`|꽃받침 길이|
|`sepal_width`|꽃받침 너비|
|`petal_length`|꽃잎 길이|
|`petal_width`|꽃잎 너비|
|`species`|꽃 종류|

##### Q1. Iris 데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오.

In [4]:
print(data.groupby('species')['petal_width'].quantile([0.75]))     # species 변수 값 별로 : groupby('species'), petal_width 상위 25% 값 : ['petal_width'].quantile([0.75])

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

- 가장 큰 값은 `2.3`, 가장 작은 값은 `0.3` 이므로 차이는 `2.3 - 0.3 = 2`가 된다.

**정답** : 2

##### Q2. Iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.

In [5]:
lst = data['sepal_length'].unique().tolist()     # 중복 없이 : unique(), 리스트로 만들기 : tolost()
lst.sort()    # 오름차순으로 정렬
lst[9]    # 10번째 오는 숫자

5.2

##### Q3. Iris 데이터 세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준 편차를 구한 후 50을 곱한 값을 계산하시오. (최종 계산 값의 소수점 이하는 버린다.)

In [6]:
sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)     #  sepal_width 변수 값으로 내림차순 정렬 : sort_values(by='sepal_width), ascending=False)
sorted_data_split = sorted_data.loc[0:99]    # 또는 sorted_data.head(100)
int(sorted_data_split['sepal_width'].std() * 50)

16

##### Q4. Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오. (최종 계산 값의 소수점 이하는 반올림한다.)

In [7]:
data = data.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top10 = data.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

##### Q5. Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오. (단, 이상치 범위는 (평균 + 2 x 표준편차) 이상이거나 (평균 - 2 x 표준편차) 이하이다.)

In [10]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()

crit1 = mean + 2 * std
crit2 = mean - 2 * std

data[(data['sepal_length'] >= crit1) | (data['sepal_length'] <= crit2)]

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

**정답** : 6

### (2) Wine 데이터 세트
---

- 다음은 Wine 데이터 세트이다. 아래 문제 01~05의 답을 구하여라.

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("./datasets/Part2/wine.csv")
data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,NaN,120.0,NaN,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

|변수|설명|
|:-:|:-:|
|`alcohol`|알콜|
|`malic_acid`|말산|
|`ash`|화분|
|`alcalinity_of_ash`|화분의 알칼리도|
|`magnesium`|마그네슘|
|`total_phenols`|폴리페놀 총량|
|`flavanoids`|플라보노이드 폴리페놀|
|`nonflavanoid_phenols`|비 플라보노이드 폴리페놀|
|`proanthocyanins`|프로안토시아닌|
|`color_intensity`|색상의 강도|
|`hue`|색상|
|`id280/od315_of_diluted_wines`|희석 와인의 OD280/OD315 비율|
|`proline`|프롤린|
|`class`|와인 종류|

##### Q1. Wine 데이터 세트에서 total_phenons 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alalinity_of_ash 평균값을 계산하시오. (최종 계산 값의 소수점 이하는 버린다.)

- `notnull` 함수와 `isnull` 함수를 이용해 변수의 결측치를 제거 및 대치할 수 있다.

In [4]:
data_drop = data[data['total_phenols'].notnull()]    # null이 아닌(결측치가 아닌) 값 선택
med = data_drop['alcalinity_of_ash'].median()
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med     # null 값인 행의 alcalinity_of_ash 컬럼의 값을 med로 대치

print(data_drop['alcalinity_of_ash'].mean())

19.397546012269938

##### Q2. Wine 데이터 세트에서 alcohol 값이 alcohol 평균 값 이상이고, color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오.

In [6]:
mean_val1 = data['alcohol'].mean()
mean_val2 = data['color_intensity'].mean()

data_filtered = data[(data['alcohol'] >= mean_val1) & (data['color_intensity'] >= mean_val2)]
print(data_filtered['class'].value_counts())

class
0    37
2    23
1     1
Name: count, dtype: int64

**정답** : 0

##### Q3. Wine 데이터 세트에서 class 1에 해당하는 데이터의 ash 평균값과 Wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절댓값을 계산하시오. (최종 계산 값의 소수점 아래 4번째 자리에서 반올림한다.)

In [7]:
print(data.head(1).T)

                                    0
alcohol                         14.23
malic_acid                       1.71
ash                              2.43
alcalinity_of_ash               15.60
magnesium                      127.00
total_phenols                    2.80
flavanoids                       3.06
nonflavanoid_phenols             0.28
proanthocyanins                  2.29
color_intensity                  5.64
hue                              1.04
od280/od315_of_diluted_wines     3.92
proline                       1065.00
class                            0.00

- `dropna` 함수를 이용하면 데이터프레임의 결측치 전부를 쉽게 제거할 수 있다.

In [8]:
val1 = data[data['class'] == 1].mean()
val2 = data.dropna()['ash'].mean()

print(round(abs(val1 - val2), 3))

alcohol                           9.914
malic_acid                        0.432
ash                               0.120
alcalinity_of_ash                17.940
magnesium                        92.185
total_phenols                     0.115
flavanoids                        0.284
nonflavanoid_phenols              2.001
proanthocyanins                   0.734
color_intensity                   0.722
hue                               1.308
od280/od315_of_diluted_wines      0.421
proline                         517.143
class                             1.365
dtype: float64

##### Q4. Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값 alcohol을 오름차순 정렬했을 때 20번째에 위치한 값으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol 평균값을 계산하시오. (최종 계산 값의 소수점 아래 3번째 자리에서 반올림한다.)

In [11]:
data_sorted = data.sort_values(by='alcohol', axis=0, ascending=True)
data_sorted = data_sorted.reset_index(drop=True)
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']
print(round(data_sorted[data_sorted['proanthocyanins'] <= 2]['alcohol'].mean(), 2))

12.97

##### Q5. Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, class 2에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오.

In [12]:
class1_q1, class1_q3 = data[data['class'] == 1]['proline'].quantile([0.25, 0.75])
class2_q1, class2_q3 = data[data['class'] == 2]['proline'].quantile([0.25, 0.75])

print(abs((class1_q3 - class1_q1) - (class2_q3 - class2_q1)))

68.5