# <a id='toc1_'></a>[전처리 연습](#toc0_)
---

- `pandas`를 이용하여 전처리 연습 해보기
- 참고 : [click](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)

---

**Table of contents**<a id='toc0_'></a>    
- [전처리 연습](#toc1_)    
  - [Getting & Knowing Data](#toc1_1_)    
    - [P1. 데이터 로드하기 (구분자 : `\t`)](#toc1_1_1_)    
    - [P2. 데이터의 상위 5개 행 출력하기](#toc1_1_2_)    
    - [P3. 데이터의 행과 열의 개수 출력하기](#toc1_1_3_)    
    - [P4. 전체 컬럼 출력하기](#toc1_1_4_)    
    - [P5. 6번째 컬럼명 출력하기](#toc1_1_5_)    
    - [P6. 6번째 컬럼의 데이터 타입 확인하기](#toc1_1_6_)    
    - [P7. 데이터셋의 인덱스 구성 파악하기](#toc1_1_7_)    
    - [P8. 6번째 컬럼의 3번째 값 확인하기](#toc1_1_8_)    
    - [P9. 데이터 로드하기 (한글 처리)](#toc1_1_9_)    
    - [P10. 데이터의 마지막 3개행 출력하기](#toc1_1_10_)    
    - [P11. 수치형 변수를 가진 컬럼 출력하기](#toc1_1_11_)    
    - [P12. 범주형 변수를 가진 컬럼 출력하기](#toc1_1_12_)    
    - [P13. 각 컬럼의 결측치 숫자 확인하기](#toc1_1_13_)    
    - [P14. 각 컬럼의 데이터 수, 데이터 타입 한번에 확인하기](#toc1_1_14_)    
    - [P15. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대, 최소) 확인하기](#toc1_1_15_)    
    - [P16. <거주인구> 컬럼의 값 출력하기](#toc1_1_16_)    
    - [P17. <평균 속도> 컬럼의 4분위범위(IQR) 구하기](#toc1_1_17_)    
    - [P18. <읍면동명> 컬럼의 유일값 개수 출력하기](#toc1_1_18_)    
    - [P19. <읍면동명> 컬럼의 유일값 모두 출력하기](#toc1_1_19_)    
  - [Filtering & Sorting](#toc1_2_)    
    - [P20. 데이터 로드하기](#toc1_2_1_)    
    - [P21. <`quantity`> 컬럼 값이 3인 데이터를 추출하여 첫 5행 출력하기](#toc1_2_2_)    
    - [P22. <`quantity`> 컬럼 값이 3인 데이터를 추출하여 `index`를 0부터 정렬하고 첫 5행 출력하기](#toc1_2_3_)    
    - [P23. <`quantity`>, <`item_price`> 2개의 컬럼으로 구성된 새로운 데이터프레임 만들기](#toc1_2_4_)    
    - [P24. <`item_price`> 컬럼의 달러(`$`) 표시 문자를 제거하고, `float` 타입으로 저장하여 `new_price` 컬럼에 저장하기](#toc1_2_5_)    
    - [P25. <`new_price`> 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 개수 구하기](#toc1_2_6_)    
    - [P26. <`item_name`> 명이 `Chicken Salad Bowl`인 데이터프레임을 추출하고 `index` 값을 초기화하기](#toc1_2_7_)    
    - [P27. <`new_price`> 값이 9 이하이고 <`item_name`> 값이 `Chicken Salad Bowl`인 데이터프레임 추출하기](#toc1_2_8_)    
    - [P28. `df`의 <`new_price`> 컬럼 값에 따라 오름차순으로 정렬하고, `index` 초기화하기](#toc1_2_9_)    
    - [P29. `df`의 <`item_name`> 컬럼 값 중, `Chips`를 포함하는 경우의 데이터 출력하기](#toc1_2_10_)    
    - [P30. `df`의 짝수번째 컬럼만 포함하는 데이터프레임 출력하기](#toc1_2_11_)    
    - [P31. `df`의 <`new_price`> 컬럼 값에 따라 내림차순으로 정렬하고 `index` 초기화하기](#toc1_2_12_)    
    - [P32. `df`의 <`item_name`> 컬럼 값이 `Steak Salad` 또는 `Bowl` 인 데이터 인덱싱하기](#toc1_2_13_)    
    - [P33. `df`의 <`item_name`> 컬럼값이 `Steak Salad` 또는 `Bowl`인 데이터를 데이터프레임화 한 후, <`item_name`>을 기준으로 중복행이 있으면 제거하되 첫 번째 케이스만 남기기](#toc1_2_14_)    
    - [P34. `df`의 <`item_name`> 컬럼 값이 `Steak Salad` 또는 `Bowl`인 데이터를 데이터프레임화한 후, <`item_name`>을 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남기기](#toc1_2_15_)    
    - [P35. `df`의 데이터 중 <`new_price`> 값이 <`new_price`> 값의 평균값 이상을 가지는 데이터들 인덱싱하기](#toc1_2_16_)    
    - [P36. `df`의 데이터 중 <`item_name`>의 값이 `Izze`인 데이터를 `Fizzy Lizzy`로 수정하기](#toc1_2_17_)    
    - [P37. `df`의 데이터 중 `choice_description` 값이 `NaN`인 데이터의 개수 구하기](#toc1_2_18_)    
    - [P38. `df`의 데이터 중 <`choice_description`> 값이 `NaN`인 데이터를 `NoData` 값으로 대체하기 (`loc` 이용)](#toc1_2_19_)    
    - [P39. `df`의 데이터 중, <`choice_description`> 값에 `Black`이 들어가는 경우 인덱싱하기](#toc1_2_20_)    
    - [P40. `df`의 데이터 중, <`choice_description`> 값에 `Vegetables`가 들어가지 않는 경우의 개수 출력하기](#toc1_2_21_)    
    - [P41. `df`의 데이터 중, <`item_name`> 값이 `N`으로 시작하는 데이터를 모두 추출하기](#toc1_2_22_)    
    - [P42. `df`의 데이터 중 <`item_name`> 값의 단어 개수가 15개 이상인 데이터 인덱싱하기](#toc1_2_23_)    
    - [P43. `df`의 데이터 중, <`new_price`> 값이 `lst`에 해당하는 경우의 데이터프레임을 구하고, 그 개수 출력하기](#toc1_2_24_)    
  - [Grouping](#toc1_3_)    
    - [P44. 데이터 로드하기](#toc1_3_1_)    
    - [P45. 데이터의 각 <`host_name`>의 빈도수를 구하고, <`host_name`>으로 정렬하여 상위 5개 출력하기](#toc1_3_2_)    
    - [P46. 데이터의 각 <`host_name`>의 빈도수를 구하고, 빈도수 기준 내림차순 정렬한 데이터프레임 만들기. (단, 빈도수 컬럼은 `counts`로 명명하기)](#toc1_3_3_)    
    - [P47. <`neighbourhood_group`>의 값에 따른 <`neighbourhood`> 컬럼 값의 개수 구하기](#toc1_3_4_)    
    - [P48. <`neighbourhood_group`>의 값에 따른 <`neighbourhood`> 컬럼 값 중, <`neighbourhood_group`> 그룹의 최댓값들 출력하기](#toc1_3_5_)    
    - [P49. <`neighbourhood_group`> 값에 따른 <`price`> 값들의 평균, 분산, 최대값, 최소값 구하기](#toc1_3_6_)    
    - [P50. <`neighbourhood_group`> 값에 따른 <`reviews_per_month`>의 평균, 분산, 최대, 최소값 구하기](#toc1_3_7_)    
    - [P51. <`neighbourhood`> 값과 <`neighbourhood_group`> 값에 따른 <`price`>의 평균 구하기](#toc1_3_8_)    
    - [P52. <`neighbourhood`> 값과 <`neighbourhood_group`> 값에 따른 <`price`>의 평균을 계층적 인덱싱 없이 구하기](#toc1_3_9_)    
    - [P53. <`neighbourhood`> 값과 <`neighbourhood_group`> 값에 따른 <`price`>의 평균을 계층적 인덱싱 없이 구하고, `NaN` 값은 `-999` 값으로 채우기](#toc1_3_10_)    
    - [P54. 데이터 중 <`neighbourhood_group`> 값이 `Queens` 값을 가지는 데이터들 중, <`neighbourhood`> 그룹별로 <`price`> 값의 평균, 분산, 최대, 최소값 구하기](#toc1_3_11_)    
    - [P55. 데이터 중 <`neighbourhood_group`> 값에 따른 <`room_type`> 컬럼의 숫자를 구하고, <`neighbourhood_group`> 값을 기준으로 각 값의 비율 구하기](#toc1_3_12_)    
  - [Apply, Map](#toc1_4_)    
    - [P56. 데이터 로드하고 행과 열의 개수 출력하기](#toc1_4_1_)    
    - [P57. <`Income_Category`>의 카테고리를 `map` 함수를 이용하여 다음과 같이 변경하여 <>`newIncome`> 컬럼에 매핑하기](#toc1_4_2_)    
    - [P58. <`Income_Category`>의 카테고리를 `apply` 함수를 이용하여 다음과 같이 변경하여 <`newIncome`> 컬럼에 매핑하기](#toc1_4_3_)    
    - [P59. <`Customer_Age`>의 값을 이용하여 나이 구간을 `AgeState` 컬럼으로 정의하고 (0~9 : 0 , 10~19 :10 , 20~29 :20 … ) 각 구간의 빈도수 출력하기](#toc1_4_4_)    
    - [P60. <`Education_Level`>의 값 중 `Graduate` 단어가 포함되는 값은 `1`, 그렇지 않은 경우에는 `0`으로 변경하여 <`newEduLevel`> 컬럼을 정의하고 빈도수 출력하기](#toc1_4_5_)    
    - [P61. <`Credit_Limit`> 컬럼값이 4500 이상인 경우 `1`, 그외의 경우에는 모두 `0`으로 하는 <`newLimit`> 정의하고 <`newLimit`> 각 값들의 빈도수 출력하기](#toc1_4_6_)    
    - [P62. <`Marital_Status`> 컬럼값이 `Married`이고, <`Card_Category`> 컬럼의 값이 `Platinum`인 경우 `1`, 그외의 경우에는 모두 `0`으로 하는 <`newState`> 컬럼을 정의하고, <`newState`>의 각 값들의 빈도수 출력하기](#toc1_4_7_)    
    - [P63. <`Gender`> 컬럼 값이 `M`인 경우 `male`, `F`인 경우 `female`로 값을 변경하여 <`Gender`> 컬럼에 새롭게 정의하고, 각 값들의 빈도수 출력하기](#toc1_4_8_)    
  - [Time Series](#toc1_5_)    
    - [P64. 데이터 로드하고 각 열의 데이터 타입 파악하기](#toc1_5_1_)    
    - [P65. <`Yr_Mo_Dy`>을 판다스에서 인식할 수 있는 `datetime64` 타입으로 변경하기](#toc1_5_2_)    
    - [P66. <`Yr_Mo_Dy`>에 존재하는 년도의 유일값 모두 출력하기](#toc1_5_3_)    
    - [P67. <`Yr_Mo_Dy`>에 년도가 2061년 이상인 경우, 해당 값에서 100을 빼서 새로운 날짜를 <`Yr_Mo_Dy`>에 정의하기](#toc1_5_4_)    
    - [P68. 년도별 각 컬럼의 평균값 구하기](#toc1_5_5_)    
    - [P69. <`weekday`> 컬럼을 만들고 요일별로 매핑하기 (월요일: 0 ~ 일요일: 6)](#toc1_5_6_)    
    - [P70. <`weekday`> 컬럼을 기준으로 주말이면 `1`, 평일이면 `0`의 값을 가지는 <`WeekCheck`> 컬럼 만들기](#toc1_5_7_)    
    - [P71. 년도, 일자 상관 없이 모든 컬럼의 각 달의 평균 구하기](#toc1_5_8_)    
    - [P72. 모든 결측치는 컬럼 기준 직전의 값으로 대체하고, 첫 번째 행에 결측치가 있을 경우 뒤에 있는 값으로 대체하기](#toc1_5_9_)    
    - [P73. 년도-월을 기준으로 모든 컬럼의 평균값 구하기](#toc1_5_10_)    
    - [P74. <`RPT`> 컬럼의 값을 일자별 기준으로 1차 차분하기](#toc1_5_11_)    
    - [P75. <`RPT`>와 <`VAL`>의 컬럼을 일주일 간격으로 각각 이동 평균한 값 구하기](#toc1_5_12_)    
    - [P76. 데이터를 로드하여 <`(년-월-일:시)`> 컬럼을 판다스에서 인식할 수 있는 `datetime` 형태로 변경하기](#toc1_5_13_)    
    - [P77. 일자별 영어 요일의 이름을 <`dayName`> 컬럼에 저장하기](#toc1_5_14_)    
    - [P78. 일자별 각 `PM10` 등급의 빈도수 파악하기](#toc1_5_15_)    
    - [P79. 시간이 연속적으로 존재하며 결측치가 없는지 확인하기](#toc1_5_16_)    
    - [P80. 오전 10시와 오후 10시(22시)의 `PM10`의 평균값을 각각 구하기](#toc1_5_17_)    
    - [P81. 날짜 컬럼을 `index`로 만들기](#toc1_5_18_)    
    - [P82. 데이터를 주 단위로 뽑아서 최소, 최대, 평균, 표준편차 구하기](#toc1_5_19_)    
  - [Pivot](#toc1_6_)    
    - [P83. <`Indicator`>를 삭제하고 <`First Tooltip`> 컬럼에서 신뢰 구간에 해당하는 표현 지우기](#toc1_6_1_)    
    - [P84. 년도가 2015년 이상, <`Dim1`>이 `Both sexes`인 케이스만 추출하기](#toc1_6_2_)    
    - [P85. `P84`에서 추출한 데이터로 아래와 같이 나라에 따른 년도별 사망률을 데이터프레임화 하기](#toc1_6_3_)    
    - [P86. <`Dim1`>에 따른 년도별 사망 비율의 평균 구하기](#toc1_6_4_)    
    - [P87. 데이터를 로드하고 한국 `KOR` 데이터만 추출하기](#toc1_6_5_)    
    - [P88. 한국 올림픽 메달리스트 데이터에서 년도에 따른 `Medal` 개수를 데이터프레임화 하기](#toc1_6_6_)    
    - [P89. 전체 데이터에서 `Sport` 종류에 따른 성별 수 구하기](#toc1_6_7_)    
    - [P90. 전체 데이터에서 `Discipline` 종류에 따른 `Medal` 수 구하기](#toc1_6_8_)    
  - [Merge, Concat](#toc1_7_)    
    - [P91. `df1`과 `df2` 데이터를 하나의 데이터프레임으로 합치기](#toc1_7_1_)    
    - [P92. `df3`과 `df4` 데이터를 하나의 데이터프레임으로 합치기](#toc1_7_2_)    
    - [P93. `df3`과 `df4` 데이터를 하나의 데이터프레임으로 합치기](#toc1_7_3_)    
    - [P94. `df5`와 `df6` 데이터를 하나의 데이터프레임으로 `merge` 함수를 이용하여 합치는데 `Algeria` 컬럼을 `key`로 하고 두 데이터를 모두 포함하는 데이터만 출력하기](#toc1_7_4_)    
    - [P95. `df5`와 `df6` 데이터를 하나의 데이터프레임으로 `merge` 함수를 이용하여 합치는데 `Algeria` 컬럼을 `key`로 하고 합집합으로 합치기](#toc1_7_5_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [99]:
import pandas as pd

## <a id='toc1_1_'></a>[Getting & Knowing Data](#toc0_)
---

### <a id='toc1_1_1_'></a>[P1. 데이터 로드하기 (구분자 : `\t`)](#toc0_)

In [100]:
dataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(dataUrl, sep='\t')   # \t 기준으로 구분

type(df)

pandas.core.frame.DataFrame

### <a id='toc1_1_2_'></a>[P2. 데이터의 상위 5개 행 출력하기](#toc0_)

In [101]:
Ans = df.head(5)

print(Ans)

       gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0  3326086514  1504279457970          1949         9       1           2
1  3229566029  1497848803862          1851         9       1           1
2  3327363504  1504360103310          1493         9       1           2
3  3326856598  1504348503996          1758         9       1           1
4  3330080762  1504554410899          2094         9       1           2

   firstTower  firstInhibitor  firstBaron  firstDragon  ...  t2_towerKills  \
0           1               1           1            1  ...              5
1           1               1           0            1  ...              2
2           1               1           1            2  ...              2
3           1               1           1            1  ...              0
4           1               1           1            1  ...              3

   t2_inhibitorKills  t2_baronKills  t2_dragonKills  t2_riftHeraldKills  \
0                  0              0               1                   1
1                  0              0               0                   0
2                  0              0               1                   0
3                  0              0               0                   0
4                  0              0               1                   0

   t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0      114       67       43       16       51
1       11       67      238       51      420
2      157      238      121       57       28
3      164       18      141       40       51
4       86       11      201      122       18

[5 rows x 61 columns]

### <a id='toc1_1_3_'></a>[P3. 데이터의 행과 열의 개수 출력하기](#toc0_)

In [102]:
print(df.shape)   # 행, 열 모두 파악하기

print('행:',df.shape[0])  
print('열:',df.shape[1])

(51490, 61)
행: 51490
열: 61

### <a id='toc1_1_4_'></a>[P4. 전체 컬럼 출력하기](#toc0_)

In [103]:
Ans = df.columns

print(Ans)

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

### <a id='toc1_1_5_'></a>[P5. 6번째 컬럼명 출력하기](#toc0_)

In [104]:
Ans = Ans[5]

print(Ans)

firstBlood

### <a id='toc1_1_6_'></a>[P6. 6번째 컬럼의 데이터 타입 확인하기](#toc0_)

- `iloc[:, n-1].dtype`

In [105]:
Ans = df.iloc[:, 5].dtype

print(Ans)

int64

### <a id='toc1_1_7_'></a>[P7. 데이터셋의 인덱스 구성 파악하기](#toc0_)

In [106]:
Ans = df.index

print(Ans)

RangeIndex(start=0, stop=51490, step=1)

### <a id='toc1_1_8_'></a>[P8. 6번째 컬럼의 3번째 값 확인하기](#toc0_)

- `a`번째 컬럼의 `b`번째 값 확인하기
    - `df.iloc[b-1, a-1]`

In [107]:
Ans = df.iloc[2, 5]

print(Ans)

2

### <a id='toc1_1_9_'></a>[P9. 데이터 로드하기 (한글 처리)](#toc0_)

In [108]:
dataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(dataUrl, encoding='euc-kr')  # 한글 처리

type(df)

pandas.core.frame.DataFrame

### <a id='toc1_1_10_'></a>[P10. 데이터의 마지막 3개행 출력하기](#toc0_)

In [109]:
Ans = df.tail(3)

print(Ans)

         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구  \
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8

### <a id='toc1_1_11_'></a>[P11. 수치형 변수를 가진 컬럼 출력하기](#toc0_)

In [110]:
# 컬럼 자료형 분포 확인
print(df.info())

print()

# 수치형 컬럼(범주형(Object) 컬럼 제외)만 출력
Ans = df.select_dtypes(exclude=object).columns

print(Ans)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB
None

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

### <a id='toc1_1_12_'></a>[P12. 범주형 변수를 가진 컬럼 출력하기](#toc0_)

In [111]:
Ans = df.select_dtypes(include=object).columns

print(Ans)

Index(['일자', '시도명', '읍면동명'], dtype='object')

### <a id='toc1_1_13_'></a>[P13. 각 컬럼의 결측치 숫자 확인하기](#toc0_)

In [112]:
Ans = df.isnull().sum()

print(Ans)

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

### <a id='toc1_1_14_'></a>[P14. 각 컬럼의 데이터 수, 데이터 타입 한번에 확인하기](#toc0_)

In [113]:
Ans = df.info()

print(Ans)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB
None

### <a id='toc1_1_15_'></a>[P15. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대, 최소) 확인하기](#toc0_)

In [114]:
Ans = df.describe()

print(Ans)

                 id          거주인구           근무인구           방문인구        총 유동인구  \
count   9621.000000  9.621000e+03    9621.000000    9621.000000  9.621000e+03
mean   27258.000000  3.174315e+05   35471.201510  195889.561802  5.487922e+05
std     2777.487804  2.982079e+05   40381.214775  140706.090325  4.608802e+05
min    22448.000000  9.305552e+03    1407.936000   11538.322000  2.225181e+04
25%    24853.000000  9.539939e+04   12074.498000   99632.153000  2.216910e+05
50%    27258.000000  2.221105e+05   21960.928000  152805.335000  3.866935e+05
75%    29663.000000  4.106671e+05   40192.032000  236325.109000  6.406918e+05
max    32068.000000  1.364504e+06  263476.965000  723459.209000  2.066484e+06

             평균 속도     평균 소요 시간        평균 기온         일강수량        평균 풍속
count  9621.000000  9621.000000  9621.000000  9621.000000  9621.000000
mean     41.109084    37.215873    13.550828     6.972426     2.753171
std       8.758631    12.993786     7.745515    27.617260     1.498538
min      24.333000    12.667000    -9.600000     0.000000     0.000000
25%      34.250000    27.889000     7.600000     0.000000     1.700000
50%      39.640000    34.500000    13.400000     0.000000     2.400000
75%      49.105000    46.176000    19.700000     1.500000     3.400000
max     103.000000   172.200000    30.400000   587.500000    13.333000

### <a id='toc1_1_16_'></a>[P16. <거주인구> 컬럼의 값 출력하기](#toc0_)

In [115]:
Ans = df['거주인구']

print(Ans)

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

### <a id='toc1_1_17_'></a>[P17. <평균 속도> 컬럼의 4분위범위(IQR) 구하기](#toc0_)

- IQR = Q3 - Q1
- `quantile` 함수를 이용하여 백분위수 확인

In [116]:
q3 = df['평균 속도'].quantile(0.75)
q1 = df['평균 속도'].quantile(0.25)

Ans = q3 - q1

print(Ans)

14.854999999999997

### <a id='toc1_1_18_'></a>[P18. <읍면동명> 컬럼의 유일값 개수 출력하기](#toc0_)

### <a id='toc1_1_19_'></a>[P19. <읍면동명> 컬럼의 유일값 모두 출력하기](#toc0_)

## <a id='toc1_2_'></a>[Filtering & Sorting](#toc0_)
---

### <a id='toc1_2_1_'></a>[P20. 데이터 로드하기](#toc0_)

In [118]:
Ans = df['읍면동명'].unique()

print(Ans)

['도두동' '외도동' '이도2동' '일도1동' '대천동' '서홍동' '한경면' '송산동' '조천읍' '일도2동' '영천동'
 '예래동' '대륜동' '삼도1동' '이호동' '건입동' '중앙동' '삼양동' '삼도2동' '이도1동' '남원읍' '대정읍'
 '정방동' '효돈동' '아라동' '한림읍' '구좌읍' '용담1동' '오라동' '화북동' '연동' '표선면' '중문동' '성산읍'
 '안덕면' '천지동' '노형동' '동홍동' '용담2동' '봉개동' '애월읍']

### <a id='toc1_2_2_'></a>[P21. <`quantity`> 컬럼 값이 3인 데이터를 추출하여 첫 5행 출력하기](#toc0_)

### P20. 데이터 로드하기

In [119]:
dataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(dataUrl)

type(df)

pandas.core.frame.DataFrame

### <a id='toc1_2_3_'></a>[P22. <`quantity`> 컬럼 값이 3인 데이터를 추출하여 `index`를 0부터 정렬하고 첫 5행 출력하기](#toc0_)

- 조건을 이용하여 특정 데이터만 출력할 경우 `loc` 함수를 사용한다.
    - `df.loc[crit]`

In [120]:
crit = df['quantity'] == 3  # 조건
Ans = df.loc[crit].head()   # 첫 5행 출력

print(Ans)

     order_id  quantity          item_name  \
409       178         3       Chicken Bowl
445       193         3               Bowl
689       284         3  Canned Soft Drink
818       338         3      Bottled Water
850       350         3  Canned Soft Drink

                                    choice_description item_price
409  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
689                                        [Diet Coke]     $3.75
818                                                NaN     $3.27
850                                           [Sprite]     $3.75

### <a id='toc1_2_4_'></a>[P23. <`quantity`>, <`item_price`> 2개의 컬럼으로 구성된 새로운 데이터프레임 만들기](#toc0_)

- `reset_index()` 함수는 인덱스를 기본값으로 재설정한다. 기본적으로 기존 인덱스를 데이터의 새로운 열로 추가한다.
- `drop=True` 속성을 줄 경우, 기존 인덱스를 새로운 열로 추가하지 않고 삭제한다.
    - 인덱스를 재설정하되, 기존 인덱스를 유지하지 않는다.

In [121]:
crit = df['quantity'] == 3
Ans = df.loc[crit].head().reset_index(drop=True)

print(Ans)

   order_id  quantity          item_name  \
0       178         3       Chicken Bowl
1       193         3               Bowl
2       284         3  Canned Soft Drink
3       338         3      Bottled Water
4       350         3  Canned Soft Drink

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
1  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
2                                        [Diet Coke]     $3.75
3                                                NaN     $3.27
4                                           [Sprite]     $3.75

### <a id='toc1_2_5_'></a>[P24. <`item_price`> 컬럼의 달러(`$`) 표시 문자를 제거하고, `float` 타입으로 저장하여 `new_price` 컬럼에 저장하기](#toc0_)

- `df[[컬럼명1, 컬럼명2, ..., 컬럼명n]]`으로 데이터프레임에서 특정 컬럼만 뽑아낼 수 있다.

In [122]:
Ans = df [['quantity', 'item_price']]

print(Ans)

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

### <a id='toc1_2_6_'></a>[P25. <`new_price`> 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 개수 구하기](#toc0_)

- `astype()` 함수를 이용하여 데이터 타입을 변환할 수 있다.

In [123]:
df['new_price'] = df['item_price'].str[1:].astype('float')  # $n에서 $를 제외한 부분을 float형으로 변환
Ans = df['new_price'].head()

print(Ans)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

### <a id='toc1_2_7_'></a>[P26. <`item_name`> 명이 `Chicken Salad Bowl`인 데이터프레임을 추출하고 `index` 값을 초기화하기](#toc0_)

- `df.loc[crit]` 를 이용하여 조건(`crit`)에 맞는 컬럼만 추출할 수 있다.
- `len()` 함수를 이용하여 컬럼 안의 전체 데이터의 개수를 구할 수 있다.

### <a id='toc1_2_8_'></a>[P27. <`new_price`> 값이 9 이하이고 <`item_name`> 값이 `Chicken Salad Bowl`인 데이터프레임 추출하기](#toc0_)

### P26. <`item_name`> 명이 `Chicken Salad Bowl`인 데이터프레임을 추출하고 `index` 값을 초기화하기

### <a id='toc1_2_9_'></a>[P28. `df`의 <`new_price`> 컬럼 값에 따라 오름차순으로 정렬하고, `index` 초기화하기](#toc0_)

### P27. <`new_price`> 값이 9 이하이고 <`item_name`> 값이 `Chicken Salad Bowl`인 데이터프레임 추출하기

In [126]:
crit1 = df['new_price'] <= 9
crit2 = df['item_name'] == "Chicken Salad Bowl"

Ans = df.loc[crit1 & crit2]

print(Ans.head(5))

     order_id  quantity           item_name  \
44         20         1  Chicken Salad Bowl
256       111         1  Chicken Salad Bowl
526       220         1  Chicken Salad Bowl
528       221         1  Chicken Salad Bowl
529       221         1  Chicken Salad Bowl

                                    choice_description item_price  new_price
44   [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
256  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
526  [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
528  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
529  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75

### <a id='toc1_2_10_'></a>[P29. `df`의 <`item_name`> 컬럼 값 중, `Chips`를 포함하는 경우의 데이터 출력하기](#toc0_)

- `sort_values(by=컬럼명)` 함수는 `by` 컬럼 값에 따라 정렬 작업을 수행한다.
    - `ascending=True` 속성을 주면 오름차순 정렬을 수행한다.

In [127]:
Ans = df.sort_values(by='new_price', ascending=True).reset_index(drop=True)

print(Ans.head(4))

   order_id  quantity      item_name choice_description item_price  new_price
0       471         1  Bottled Water                NaN     $1.09        1.09
1       338         1    Canned Soda        [Coca Cola]     $1.09        1.09
2      1575         1    Canned Soda       [Dr. Pepper]     $1.09        1.09
3        47         1    Canned Soda       [Dr. Pepper]     $1.09        1.09

### <a id='toc1_2_11_'></a>[P30. `df`의 짝수번째 컬럼만 포함하는 데이터프레임 출력하기](#toc0_)

- `df[컬럼명].str.contains('포함하는값')`를 통해 특정 컬럼 안에서 특정 값을 포함하는 데이터만 뽑아낼 수 있다.

In [128]:
crit = df['item_name'].str.contains("Chips")

Ans = df.loc[crit]

print(Ans.head(5))

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
3          1         1  Chips and Tomatillo-Green Chili Salsa
6          3         1                          Side of Chips
10         5         1                    Chips and Guacamole
14         7         1                    Chips and Guacamole

   choice_description item_price  new_price
0                 NaN     $2.39        2.39
3                 NaN     $2.39        2.39
6                 NaN     $1.69        1.69
10                NaN     $4.45        4.45
14                NaN     $4.45        4.45

### <a id='toc1_2_12_'></a>[P31. `df`의 <`new_price`> 컬럼 값에 따라 내림차순으로 정렬하고 `index` 초기화하기](#toc0_)

- 짝수번째 컬럼만 선택 : `df.iloc[:, ::2]` (시작 인덱스 : 0)
- 홀수번째 컬럼만 선택 : `df.iloc[:, 1::2]` (시작 인덱스 : 1)

### <a id='toc1_2_13_'></a>[P32. `df`의 <`item_name`> 컬럼 값이 `Steak Salad` 또는 `Bowl` 인 데이터 인덱싱하기](#toc0_)

### P31. `df`의 <`new_price`> 컬럼 값에 따라 내림차순으로 정렬하고 `index` 초기화하기

In [130]:
Ans = df.sort_values(by="new_price", ascending=False).reset_index(drop=True)

print(Ans.head(5))

   order_id  quantity                     item_name  \
0      1443        15  Chips and Fresh Tomato Salsa
1      1398         3                 Carnitas Bowl
2       511         4               Chicken Burrito
3      1443         4               Chicken Burrito
4      1443         3                Veggie Burrito

                                  choice_description item_price  new_price
0                                                NaN    $44.25       44.25
1  [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
2  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
3  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75

### <a id='toc1_2_14_'></a>[P33. `df`의 <`item_name`> 컬럼값이 `Steak Salad` 또는 `Bowl`인 데이터를 데이터프레임화 한 후, <`item_name`>을 기준으로 중복행이 있으면 제거하되 첫 번째 케이스만 남기기](#toc0_)

- `A` 또는 `B`인 데이터 인덱싱 하기
    - `or` 또는 `in` 연산자 사용 불가! (무조건 **논리 연산자(`|`)** 사용)
    - 피연산자에 소괄호(`()`) 넣어야 함.

```py
crit = (df[컬럼명] == A) | (df[컬럼명] == B)
df.loc[crit]
```

In [131]:
crit = (df['item_name'] == "Steak Salad") | (df['item_name'] == "Bowl")
Ans = df.loc[crit]

print(Ans)

      order_id  quantity    item_name  \
445        193         3         Bowl
664        276         1  Steak Salad
673        279         1         Bowl
752        311         1  Steak Salad
893        369         1  Steak Salad
3502      1406         1  Steak Salad

                                     choice_description item_price  new_price
445   [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
752   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
893   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...     $8.99        8.99
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69

### <a id='toc1_2_15_'></a>[P34. `df`의 <`item_name`> 컬럼 값이 `Steak Salad` 또는 `Bowl`인 데이터를 데이터프레임화한 후, <`item_name`>을 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남기기](#toc0_)

- `drop_duplicates(컬럼명, keep='first')` 함수는 중복행이 있으면 <ins>첫 번째</ins> 케이스만 남기고 나머지를 제거한다.
    - `keep='first'` 생략 가능 (기본값: `first`)

In [132]:
crit = (df['item_name'] == 'Steak Salad') | (df['item_name'] == 'Bowl')

Ans = df.loc[crit].drop_duplicates('item_name', keep="first")   # 중복행 제거

print(Ans)

     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99

### <a id='toc1_2_16_'></a>[P35. `df`의 데이터 중 <`new_price`> 값이 <`new_price`> 값의 평균값 이상을 가지는 데이터들 인덱싱하기](#toc0_)

- `drop_duplicates(컬럼명, keep='last')` 함수는 중복행이 있으면 <ins>마지막 번째</ins> 케이스만 남기고 나머지를 제거한다.

In [133]:
crit = (df['item_name'] == 'Steak Salad') | (df['item_name'] == 'Bowl')

Ans = df.loc[crit].drop_duplicates('item_name', keep="last")   # 중복행 제거

print(Ans)

      order_id  quantity    item_name  \
673        279         1         Bowl
3502      1406         1  Steak Salad

                                     choice_description item_price  new_price
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69

### <a id='toc1_2_17_'></a>[P36. `df`의 데이터 중 <`item_name`>의 값이 `Izze`인 데이터를 `Fizzy Lizzy`로 수정하기](#toc0_)

- `mean()` 함수는 평균값을 반환한다.

### <a id='toc1_2_18_'></a>[P37. `df`의 데이터 중 `choice_description` 값이 `NaN`인 데이터의 개수 구하기](#toc0_)

### P36. `df`의 데이터 중 <`item_name`>의 값이 `Izze`인 데이터를 `Fizzy Lizzy`로 수정하기

In [135]:
crit = df['item_name'] == "Izze"
df.loc[crit] = "Fizzy Lizzy"

Ans = df
print(Ans.head(3))

      order_id     quantity                     item_name choice_description  \
0            1            1  Chips and Fresh Tomato Salsa                NaN
1  Fizzy Lizzy  Fizzy Lizzy                   Fizzy Lizzy        Fizzy Lizzy
2            1            1              Nantucket Nectar            [Apple]

    item_price    new_price
0       $2.39          2.39
1  Fizzy Lizzy  Fizzy Lizzy
2       $3.39          3.39

C:\Users\kss34\AppData\Local\Temp\ipykernel_30688\2676964120.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Fizzy Lizzy' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[crit] = "Fizzy Lizzy"
C:\Users\kss34\AppData\Local\Temp\ipykernel_30688\2676964120.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Fizzy Lizzy' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[crit] = "Fizzy Lizzy"
C:\Users\kss34\AppData\Local\Temp\ipykernel_30688\2676964120.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Fizzy Lizzy' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[crit] = "Fizzy Lizzy"

### <a id='toc1_2_19_'></a>[P38. `df`의 데이터 중 <`choice_description`> 값이 `NaN`인 데이터를 `NoData` 값으로 대체하기 (`loc` 이용)](#toc0_)

- `df[컬럼명].isnull().sum()`는 특정 컬럼의 `NaN`인 데이터의 개수를 반환한다.

In [136]:
Ans = df['choice_description'].isnull().sum()   # NaN 데이터 반환

print(Ans)

1246

### <a id='toc1_2_20_'></a>[P39. `df`의 데이터 중, <`choice_description`> 값에 `Black`이 들어가는 경우 인덱싱하기](#toc0_)

- `df.loc[조건, 컬럼명]`은 조건에 맞는 컬럼을 추출한다.
- `df.loc[row_selection, column_selection]`
    - `row_selection` : 행을 선택하는 조건이나 라벨
    - `column_selection` : 열을 선택하는 라벨

In [137]:
crit = df['choice_description'].isnull()
df.loc[crit, 'choice_description'] = "NoData"
Ans = df

print(Ans.head(5))

      order_id     quantity                              item_name  \
0            1            1           Chips and Fresh Tomato Salsa
1  Fizzy Lizzy  Fizzy Lizzy                            Fizzy Lizzy
2            1            1                       Nantucket Nectar
3            1            1  Chips and Tomatillo-Green Chili Salsa
4            2            2                           Chicken Bowl

                                  choice_description   item_price    new_price
0                                             NoData       $2.39          2.39
1                                        Fizzy Lizzy  Fizzy Lizzy  Fizzy Lizzy
2                                            [Apple]       $3.39          3.39
3                                             NoData       $2.39          2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...      $16.98         16.98

### <a id='toc1_2_21_'></a>[P40. `df`의 데이터 중, <`choice_description`> 값에 `Vegetables`가 들어가지 않는 경우의 개수 출력하기](#toc0_)

- `df[컬럼명].str.contains(값)`를 통해 특정 컬럼에 특정 값이 들어가는 경우를 추출할 수 있다.

### <a id='toc1_2_22_'></a>[P41. `df`의 데이터 중, <`item_name`> 값이 `N`으로 시작하는 데이터를 모두 추출하기](#toc0_)

### P40. `df`의 데이터 중, <`choice_description`> 값에 `Vegetables`가 들어가지 않는 경우의 개수 출력하기

In [139]:
crit = df['choice_description'].str.contains("Vegetables")
Ans = len(df[~crit])  # NOT(~) 연산자를 통해 정반대의 값 추출

print(Ans)

3900

### <a id='toc1_2_23_'></a>[P42. `df`의 데이터 중 <`item_name`> 값의 단어 개수가 15개 이상인 데이터 인덱싱하기](#toc0_)

- `df[컬럼명].str.startswith(값)`를 통해 특정 값으로 시작하는 경우를 추출할 수 있다.

In [140]:
crit = df['item_name'].str.startswith("N")
Ans = df[crit]

print(Ans.head(3))

    order_id quantity         item_name         choice_description item_price  \
2          1        1  Nantucket Nectar                    [Apple]     $3.39
22        11        1  Nantucket Nectar       [Pomegranate Cherry]     $3.39
105       46        1  Nantucket Nectar  [Pineapple Orange Banana]     $3.39

    new_price
2        3.39
22       3.39
105      3.39

### <a id='toc1_2_24_'></a>[P43. `df`의 데이터 중, <`new_price`> 값이 `lst`에 해당하는 경우의 데이터프레임을 구하고, 그 개수 출력하기](#toc0_)
> `lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]`

- `df[컬럼명].str.len()`을 통해 특정 컬럼의 단어 개수를 추출할 수 있다.

In [141]:
crit = df['item_name'].str.len() >= 15
Ans = df[crit]

print(Ans)

     order_id quantity                              item_name  \
0           1        1           Chips and Fresh Tomato Salsa
2           1        1                       Nantucket Nectar
3           1        1  Chips and Tomatillo-Green Chili Salsa
8           4        1                       Steak Soft Tacos
10          5        1                    Chips and Guacamole
...       ...      ...                                    ...
4615     1832        1                     Chicken Soft Tacos
4616     1832        1                    Chips and Guacamole
4619     1834        1                     Chicken Salad Bowl
4620     1834        1                     Chicken Salad Bowl
4621     1834        1                     Chicken Salad Bowl

                                     choice_description item_price new_price
0                                                NoData     $2.39       2.39
2                                               [Apple]     $3.39       3.39
3                                                NoData     $2.39       2.39
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25       9.25
10                                               NoData     $4.45       4.45
...                                                 ...        ...       ...
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75       8.75
4616                                             NoData     $4.45       4.45
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25      11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75       8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75       8.75

[2373 rows x 6 columns]

## <a id='toc1_3_'></a>[Grouping](#toc0_)

### <a id='toc1_3_1_'></a>[P44. 데이터 로드하기](#toc0_)

In [142]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

crit = df['new_price'].isin(lst)
Ans = df.loc[crit]

print(Ans.head(5))
print(len(Ans))

  order_id quantity                              item_name  \
0        1        1           Chips and Fresh Tomato Salsa
2        1        1                       Nantucket Nectar
3        1        1  Chips and Tomatillo-Green Chili Salsa
4        2        2                           Chicken Bowl
5        3        1                           Chicken Bowl

                                  choice_description item_price new_price
0                                             NoData     $2.39       2.39
2                                            [Apple]     $3.39       3.39
3                                             NoData     $2.39       2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98      16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98      10.98
1373

### <a id='toc1_3_2_'></a>[P45. 데이터의 각 <`host_name`>의 빈도수를 구하고, <`host_name`>으로 정렬하여 상위 5개 출력하기](#toc0_)

### P44. 데이터 로드하기

In [143]:
dataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'
df = pd.read_csv(dataUrl)

type(df)

pandas.core.frame.DataFrame

### <a id='toc1_3_3_'></a>[P46. 데이터의 각 <`host_name`>의 빈도수를 구하고, 빈도수 기준 내림차순 정렬한 데이터프레임 만들기. (단, 빈도수 컬럼은 `counts`로 명명하기)](#toc0_)

- `df.groupby(by=컬럼명).size()`을 통해 **빈도수** 를 구할 수 있다.
- `df[컬럼명].value_counts().sort_index()`로 특정 컬럼의 빈도수를 구하고 정렬시킬 수 있다.

In [144]:
# 방법 1
Ans1 = df.groupby(by='host_name').size()   # 빈도수 구하기

# 방법 2
Ans2 = df['host_name'].value_counts().sort_index()   #  빈도수 구한 후 host_name으로 정렬하기

print(f"Ans1 : {Ans1}")
print()
print(f"Ans2 ; {Ans2.head(5)}")

Ans1 : host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
                           ..
단비                          1
빈나                          1
소정                          2
진                           1
현선                          1
Length: 11452, dtype: int64

Ans2 ; host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
Name: count, dtype: int64

### <a id='toc1_3_4_'></a>[P47. <`neighbourhood_group`>의 값에 따른 <`neighbourhood`> 컬럼 값의 개수 구하기](#toc0_)

- `to_frame()` 함수는 데이터프레임으로 만들어주는 함수이다.

### <a id='toc1_3_5_'></a>[P48. <`neighbourhood_group`>의 값에 따른 <`neighbourhood`> 컬럼 값 중, <`neighbourhood_group`> 그룹의 최댓값들 출력하기](#toc0_)

### P47. <`neighbourhood_group`>의 값에 따른 <`neighbourhood`> 컬럼 값의 개수 구하기

### <a id='toc1_3_6_'></a>[P49. <`neighbourhood_group`> 값에 따른 <`price`> 값들의 평균, 분산, 최대값, 최소값 구하기](#toc0_)

### P48. <`neighbourhood_group`>의 값에 따른 <`neighbourhood`> 컬럼 값 중, <`neighbourhood_group`> 그룹의 최댓값들 출력하기

In [147]:
target = ['neighbourhood_group', 'neighbourhood']

step1 = df.groupby(target, as_index=False).size()
step2 = step1.groupby(by=['neighbourhood_group'], as_index=False).max()

Ans = step2

print(Ans)

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

### <a id='toc1_3_7_'></a>[P50. <`neighbourhood_group`> 값에 따른 <`reviews_per_month`>의 평균, 분산, 최대, 최소값 구하기](#toc0_)

- `agg()` 함수는 데이터프레임에서 그룹화된 데이터를 여러 통계 함수로 한 번에 집계할 수 있게 해준다.

### <a id='toc1_3_8_'></a>[P51. <`neighbourhood`> 값과 <`neighbourhood_group`> 값에 따른 <`price`>의 평균 구하기](#toc0_)

### P50. <`neighbourhood_group`> 값에 따른 <`reviews_per_month`>의 평균, 분산, 최대, 최소값 구하기

### <a id='toc1_3_9_'></a>[P52. <`neighbourhood`> 값과 <`neighbourhood_group`> 값에 따른 <`price`>의 평균을 계층적 인덱싱 없이 구하기](#toc0_)

### P51. <`neighbourhood`> 값과 <`neighbourhood_group`> 값에 따른 <`price`>의 평균 구하기

In [150]:
target = ['neighbourhood', 'neighbourhood_group']

Ans = df.groupby(by=target)['price'].mean()

print(Ans)

neighbourhood    neighbourhood_group
Allerton         Bronx                   87.595238
Arden Heights    Staten Island           67.250000
Arrochar         Staten Island          115.000000
Arverne          Queens                 171.779221
Astoria          Queens                 117.187778
                                           ...
Windsor Terrace  Brooklyn               138.993631
Woodhaven        Queens                  67.170455
Woodlawn         Bronx                   60.090909
Woodrow          Staten Island          700.000000
Woodside         Queens                  85.097872
Name: price, Length: 221, dtype: float64

### <a id='toc1_3_10_'></a>[P53. <`neighbourhood`> 값과 <`neighbourhood_group`> 값에 따른 <`price`>의 평균을 계층적 인덱싱 없이 구하고, `NaN` 값은 `-999` 값으로 채우기](#toc0_)

- `unstack()` 함수는 판다스 데이터프레임의 다중 인덱스를 가진 Series나 DataFrame을 다시 정렬하여 단일 인덱스를 가진 DataFrame으로 변환해준다. 
    - 이 함수를 사용하면 다중 인덱스를 가진 데이터를 펼쳐서 보다 쉽게 이해할 수 있는 형태로 변환할 수 있다.

In [151]:
target = ['neighbourhood', 'neighbourhood_group']

Ans = df.groupby(by=target)['price'].mean().unstack()   # 계층적 인덱싱 없이 평균 구하기

print(Ans)

neighbourhood_group      Bronx    Brooklyn  Manhattan      Queens  \
neighbourhood
Allerton             87.595238         NaN        NaN         NaN
Arden Heights              NaN         NaN        NaN         NaN
Arrochar                   NaN         NaN        NaN         NaN
Arverne                    NaN         NaN        NaN  171.779221
Astoria                    NaN         NaN        NaN  117.187778
...                        ...         ...        ...         ...
Windsor Terrace            NaN  138.993631        NaN         NaN
Woodhaven                  NaN         NaN        NaN   67.170455
Woodlawn             60.090909         NaN        NaN         NaN
Woodrow                    NaN         NaN        NaN         NaN
Woodside                   NaN         NaN        NaN   85.097872

neighbourhood_group  Staten Island
neighbourhood
Allerton                       NaN
Arden Heights                67.25
Arrochar                    115.00
Arverne                        NaN
Astoria                        NaN
...                            ...
Windsor Terrace                NaN
Woodhaven                      NaN
Woodlawn                       NaN
Woodrow                     700.00
Woodside                       NaN

[221 rows x 5 columns]

### <a id='toc1_3_11_'></a>[P54. 데이터 중 <`neighbourhood_group`> 값이 `Queens` 값을 가지는 데이터들 중, <`neighbourhood`> 그룹별로 <`price`> 값의 평균, 분산, 최대, 최소값 구하기](#toc0_)

- `fillna(값)` 함수는 `NaN`을 특정 값으로 채운다.

### <a id='toc1_3_12_'></a>[P55. 데이터 중 <`neighbourhood_group`> 값에 따른 <`room_type`> 컬럼의 숫자를 구하고, <`neighbourhood_group`> 값을 기준으로 각 값의 비율 구하기](#toc0_)

### P54. 데이터 중 <`neighbourhood_group`> 값이 `Queens` 값을 가지는 데이터들 중, <`neighbourhood`> 그룹별로 <`price`> 값의 평균, 분산, 최대, 최소값 구하기

## <a id='toc1_4_'></a>[Apply, Map](#toc0_)
---

### <a id='toc1_4_1_'></a>[P56. 데이터 로드하고 행과 열의 개수 출력하기](#toc0_)

In [154]:
target = ['neighbourhood_group', 'room_type']

# 1단계 : 'neighbourhood_group' 값에 따른 'room_type' 컬럼의 숫자 구하기
Ans = df[target].groupby(by=target).size().unstack()

# 2단계 : 'neighbourhood_group' 값을 기준으로 각 값의 비율 구하기 
Ans.loc[:, :] = (Ans.values / Ans.sum(axis=1).values.reshape(-1, 1))

print(Ans)

room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                       0.347388      0.597617     0.054995
Brooklyn                    0.475478      0.503979     0.020543
Manhattan                   0.609344      0.368496     0.022160
Queens                      0.369926      0.595129     0.034945
Staten Island               0.471850      0.504021     0.024129

C:\Users\kss34\AppData\Local\Temp\ipykernel_30688\481367728.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.34738772 0.47547752 0.60934398 0.36992587 0.47184987]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Ans.loc[:, :] = (Ans.values / Ans.sum(axis=1).values.reshape(-1, 1))
C:\Users\kss34\AppData\Local\Temp\ipykernel_30688\481367728.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.59761687 0.50397931 0.36849638 0.59512884 0.50402145]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Ans.loc[:, :] = (Ans.values / Ans.sum(axis=1).values.reshape(-1, 1))
C:\Users\kss34\AppData\Local\Temp\ipykernel_30688\481367728.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.05499542 0.02054318 0.02215964 0.03494529 0.02412869]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Ans.loc[:, :] = (Ans.values / Ans.sum(axis=1).values.reshape(-1, 1))

### <a id='toc1_4_2_'></a>[P57. <`Income_Category`>의 카테고리를 `map` 함수를 이용하여 다음과 같이 변경하여 <>`newIncome`> 컬럼에 매핑하기](#toc0_)

```text
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K + : e
```

### P56. 데이터 로드하고 행과 열의 개수 출력하기

### <a id='toc1_4_3_'></a>[P58. <`Income_Category`>의 카테고리를 `apply` 함수를 이용하여 다음과 같이 변경하여 <`newIncome`> 컬럼에 매핑하기](#toc0_)

```text
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K + : e
```

### P57. <`Income_Category`>의 카테고리를 `map` 함수를 이용하여 다음과 같이 변경하여 <>`newIncome`> 컬럼에 매핑하기

```text
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K + : e
```

### <a id='toc1_4_4_'></a>[P59. <`Customer_Age`>의 값을 이용하여 나이 구간을 `AgeState` 컬럼으로 정의하고 (0~9 : 0 , 10~19 :10 , 20~29 :20 … ) 각 구간의 빈도수 출력하기](#toc0_)

### P58. <`Income_Category`>의 카테고리를 `apply` 함수를 이용하여 다음과 같이 변경하여 <`newIncome`> 컬럼에 매핑하기

```text
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K + : e
```

In [157]:
# 적용할 함수 만들기
def changeCategory(x):
    if x == 'Unknown':
        return 'N'
    elif x == 'Less than $40K':
        return 'a'
    elif x == '$40K - $60K':   
        return 'b'
    elif x == '$60K - $80K':    
        return 'c'
    elif x == '$80K - $120K':   
        return 'd'
    elif x == '$120K +' :     
        return 'e'

df['newIncome'] = df['Income_Category'].apply(changeCategory)

Ans = df['newIncome']

print(Ans.head(4))

0    c
1    a
2    d
3    a
Name: newIncome, dtype: object

### <a id='toc1_4_5_'></a>[P60. <`Education_Level`>의 값 중 `Graduate` 단어가 포함되는 값은 `1`, 그렇지 않은 경우에는 `0`으로 변경하여 <`newEduLevel`> 컬럼을 정의하고 빈도수 출력하기](#toc0_)

- `map()` 함수와 `lambda` 함수를 이용하여 문제의 조건에 맞는 값들만 추출할 수 있다.
- `df[컬럼명].value_counts().sort_index()`를 이용하여 인덱스 순서대로 정렬하고, 각 구간의 빈도수를 출력할 수 있다.

### <a id='toc1_4_6_'></a>[P61. <`Credit_Limit`> 컬럼값이 4500 이상인 경우 `1`, 그외의 경우에는 모두 `0`으로 하는 <`newLimit`> 정의하고 <`newLimit`> 각 값들의 빈도수 출력하기](#toc0_)

### P60. <`Education_Level`>의 값 중 `Graduate` 단어가 포함되는 값은 `1`, 그렇지 않은 경우에는 `0`으로 변경하여 <`newEduLevel`> 컬럼을 정의하고 빈도수 출력하기

### <a id='toc1_4_7_'></a>[P62. <`Marital_Status`> 컬럼값이 `Married`이고, <`Card_Category`> 컬럼의 값이 `Platinum`인 경우 `1`, 그외의 경우에는 모두 `0`으로 하는 <`newState`> 컬럼을 정의하고, <`newState`>의 각 값들의 빈도수 출력하기](#toc0_)

### P61. <`Credit_Limit`> 컬럼값이 4500 이상인 경우 `1`, 그외의 경우에는 모두 `0`으로 하는 <`newLimit`> 정의하고 <`newLimit`> 각 값들의 빈도수 출력하기

### <a id='toc1_4_8_'></a>[P63. <`Gender`> 컬럼 값이 `M`인 경우 `male`, `F`인 경우 `female`로 값을 변경하여 <`Gender`> 컬럼에 새롭게 정의하고, 각 값들의 빈도수 출력하기](#toc0_)

### P62. <`Marital_Status`> 컬럼값이 `Married`이고, <`Card_Category`> 컬럼의 값이 `Platinum`인 경우 `1`, 그외의 경우에는 모두 `0`으로 하는 <`newState`> 컬럼을 정의하고, <`newState`>의 각 값들의 빈도수 출력하기

## <a id='toc1_5_'></a>[Time Series](#toc0_)

### <a id='toc1_5_1_'></a>[P64. 데이터 로드하고 각 열의 데이터 타입 파악하기](#toc0_)

In [162]:
def changeGender(x):
    if x == 'M':
        return 'male'
    else:
        return 'female'


df['Gender'] = df['Gender'].apply(changeGender)
Ans = df['Gender'].value_counts()   # 빈도수 구하기

print(Ans)

Gender
female    5358
male      4769
Name: count, dtype: int64

### <a id='toc1_5_2_'></a>[P65. <`Yr_Mo_Dy`>을 판다스에서 인식할 수 있는 `datetime64` 타입으로 변경하기](#toc0_)

### P64. 데이터 로드하고 각 열의 데이터 타입 파악하기

In [163]:
dataUrl = "https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv"
df = pd.read_csv(dataUrl)

type(df)

print(df.info())   # 각 열의 데이터 타입 파악

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB
None

### <a id='toc1_5_3_'></a>[P66. <`Yr_Mo_Dy`>에 존재하는 년도의 유일값 모두 출력하기](#toc0_)

- `pd.to_datetime(컬럼명)` 함수를 사용하여 특정 컬럼의 값들을 `datetime64` 타입으로 변경할 수 있다.

In [164]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])   # datetime으로 변환
Ans = df['Yr_Mo_Dy']

Ans.head(4)

0   2061-01-01
1   2061-01-02
2   2061-01-03
3   2061-01-04
Name: Yr_Mo_Dy, dtype: datetime64[ns]

### <a id='toc1_5_4_'></a>[P67. <`Yr_Mo_Dy`>에 년도가 2061년 이상인 경우, 해당 값에서 100을 빼서 새로운 날짜를 <`Yr_Mo_Dy`>에 정의하기](#toc0_)

- `df[컬럼명].dt.year`을 이용하여 `datetime64` 타입의 컬럼에 있는 시간값들의 모든 연도(`year`)를 추출할 수 있다.
- `unique()` 함수는 중복을 제거해준다.

### <a id='toc1_5_5_'></a>[P68. 년도별 각 컬럼의 평균값 구하기](#toc0_)

### P67. <`Yr_Mo_Dy`>에 년도가 2061년 이상인 경우, 해당 값에서 100을 빼서 새로운 날짜를 <`Yr_Mo_Dy`>에 정의하기

### <a id='toc1_5_6_'></a>[P69. <`weekday`> 컬럼을 만들고 요일별로 매핑하기 (월요일: 0 ~ 일요일: 6)](#toc0_)

### P68. 년도별 각 컬럼의 평균값 구하기

In [167]:
Ans = df.groupby(by=df['Yr_Mo_Dy'].dt.year).mean()   # 년도별 각 컬럼의 평균값 구하기

print(Ans.head(4))

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1961     1961-07-02 00:00:00  12.299583  10.351796  11.362369  6.958227
1962     1962-07-02 00:00:00  12.246923  10.110438  11.732712  6.960440
1963     1963-07-02 00:00:00  12.813452  10.836986  12.541151  7.330055
1964     1964-07-01 12:00:00  12.363661  10.920164  12.104372  6.787787

                SHA       BIR        DUB        CLA       MUL        CLO  \
Yr_Mo_Dy
1961      10.881763  7.729726   9.733923   8.858788  8.647652   9.835577
1962      10.657918  7.393068  11.020712   8.793753  8.316822   9.676247
1963      11.724110  8.434712  11.075699  10.336548  8.903589  10.224438
1964      11.454481  7.570874  10.259153   9.467350  7.789016  10.207951

                BEL        MAL
Yr_Mo_Dy
1961      13.502795  13.680773
1962      12.930685  14.323956
1963      13.638877  14.999014
1964      13.740546  14.910301

### <a id='toc1_5_7_'></a>[P70. <`weekday`> 컬럼을 기준으로 주말이면 `1`, 평일이면 `0`의 값을 가지는 <`WeekCheck`> 컬럼 만들기](#toc0_)

- `df[컬럼명].dt.weekday` 를 이용하여 특정 컬럼에 대한 값을 요일별로 매핑할 수 있다. (월요일 : `0`, 일요일 : `6`)

### <a id='toc1_5_8_'></a>[P71. 년도, 일자 상관 없이 모든 컬럼의 각 달의 평균 구하기](#toc0_)

### P70. <`weekday`> 컬럼을 기준으로 주말이면 `1`, 평일이면 `0`의 값을 가지는 <`WeekCheck`> 컬럼 만들기

In [169]:
df['WeekCheck'] = df['weekday'].map(lambda x: 1 if x in [5, 6] else 0)  # 5: 토요일, 6: 일요일
Ans = df['WeekCheck'].head(3).to_frame()

print(Ans)

   WeekCheck
0          1
1          0
2          0

### <a id='toc1_5_9_'></a>[P72. 모든 결측치는 컬럼 기준 직전의 값으로 대체하고, 첫 번째 행에 결측치가 있을 경우 뒤에 있는 값으로 대체하기](#toc0_)

- `df[컬럼명].dt.month`는 특정 컬럼에 있는 값의 달(Month)을 반환한다.

In [170]:
Ans = df.groupby(by=df['Yr_Mo_Dy'].dt.month).mean()

print(Ans.head(4))

                              Yr_Mo_Dy        RPT        VAL        ROS  \
Yr_Mo_Dy
1        1969-07-17 06:40:00.000000000  14.847325  12.914560  13.299624
2        1969-08-17 07:50:33.070866142  13.710906  12.111122  12.879132
3        1969-09-14 12:00:00.000000000  13.158687  11.505842  12.648118
4        1969-10-15 00:00:00.000000000  12.555648  10.429759  12.204815

               KIL        SHA       BIR        DUB       CLA       MUL  \
Yr_Mo_Dy
1         7.199498  11.667734  8.054839  11.819355  9.512047  9.543208
2         6.942411  11.551772  7.633858  11.206024  9.341437  9.313169
3         7.265907  11.554516  7.959409  11.310179  9.635896  9.700324
4         6.898037  10.677667  7.441389  10.221315  8.909056  8.930870

                CLO        BEL        MAL   weekday  WeekCheck
Yr_Mo_Dy
1         10.053566  14.550520  18.028763  2.989247   0.284946
2          9.518051  13.728898  17.156142  3.005906   0.287402
3         10.096953  13.810609  16.909317  3.000000   0.283154
4          9.158019  12.664759  14.937611  3.011111   0.288889

### <a id='toc1_5_10_'></a>[P73. 년도-월을 기준으로 모든 컬럼의 평균값 구하기](#toc0_)

- `fillna(method=['ffill' | 'bfill'])` 함수는 결측값을 채워준다.
    - `method='ffill'`
        - forward fill
        - 결측값을 그 이전 값으로 채운다.
    - `method='bfill'`
        - backward fill
        - 결측값을 그 다음 값으로 채운다.

In [171]:
df = df.fillna(method='ffill').fillna(method='bfill')
df.isnull().sum()   # 결측치 개수의 총합 출력해보기

C:\Users\kss34\AppData\Local\Temp\ipykernel_30688\1862519437.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill').fillna(method='bfill')

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

### <a id='toc1_5_11_'></a>[P74. <`RPT`> 컬럼의 값을 일자별 기준으로 1차 차분하기](#toc0_)

- `to_period(단위)` 함수는 날짜를 기간으로 변환하며, 인수로 변환할 기간의 단위를 지정한다. 
    - `'M'` : 월 단위

In [172]:
Ans = df.groupby(by=df['Yr_Mo_Dy'].dt.to_period('M')).mean()   # 월 단위로 변경 후 평균값 구하기

print(Ans.head(3))

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1961-01  1961-01-16 00:00:00  14.932581  12.084194  13.431613  7.736774
1961-02  1961-02-14 12:00:00  16.269286  14.975357  14.324643  9.116786
1961-03  1961-03-16 00:00:00  11.015806  11.296452  10.752903  7.137742

                SHA        BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy
1961-01   11.215806   8.588065  11.184839   9.270968   9.085806  10.107419
1961-02   13.852143  10.937500  11.890714  11.846071  11.821429  12.714286
1961-03   10.509355   8.866774   9.644194   9.829677  10.646129  11.251935

                BEL        MAL   weekday  WeekCheck
Yr_Mo_Dy
1961-01   13.880968  14.703226  2.935484   0.290323
1961-02   18.583214  15.411786  3.000000   0.285714
1961-03   16.410968  15.637742  3.000000   0.258065

### <a id='toc1_5_12_'></a>[P75. <`RPT`>와 <`VAL`>의 컬럼을 일주일 간격으로 각각 이동 평균한 값 구하기](#toc0_)

- `diff()` 함수는 1차 차분을 해준다.
    -  '1차 차분'이란 각 데이터 값과 바로 앞 데이터 값 사이의 차이를 의미한다.

In [173]:
Ans = df['RPT'].diff()    # 1차 차분

print(Ans.head(3))

0     NaN
1   -0.33
2    3.79
Name: RPT, dtype: float64

### <a id='toc1_5_13_'></a>[P76. 데이터를 로드하여 <`(년-월-일:시)`> 컬럼을 판다스에서 인식할 수 있는 `datetime` 형태로 변경하기](#toc0_)

※ 서울시의 제공 데이터의 경우 0시가 24시로 표현됨.

- `rolling(값)` 함수는 이동 평균을 구해준다.
- 이동 평균은 데이터의 변동을 부드럽게 만들어주고 추세를 파악하는 데 사용된다.

### <a id='toc1_5_14_'></a>[P77. 일자별 영어 요일의 이름을 <`dayName`> 컬럼에 저장하기](#toc0_)

### P76. 데이터를 로드하여 <`(년-월-일:시)`> 컬럼을 판다스에서 인식할 수 있는 `datetime` 형태로 변경하기

※ 서울시의 제공 데이터의 경우 0시가 24시로 표현됨.

In [175]:
dataUrl = "https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv"

df = pd.read_csv(dataUrl)

def change_date(x):
    import datetime

    hour = x.split(':')[1]
    date = x.split(':')[0]

    if hour == '24':
        hour = "00:00:00"

        FinalDate = pd.to_datetime(date + " " + hour) + datetime.timedelta(days=1)
        # datetime.timedelta(days=1)을 통해 1일을 더한다. 
        # 다음 날의 0시를 나타내는 datetime 객체를 생성한다.
    
    else:
        hour = hour + ":00:00"
        FinalDate = pd.to_datetime(date + " " + hour)
    
    return FinalDate

df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_date)

Ans = df

print(Ans.head(3))

            (년-월-일:시) PM10등급  PM10 PM2.5등급  PM2.5 오존등급     오존 이산화질소등급  이산화질소  \
0 2021-05-15 15:00:00     보통  47.0      보통   19.0   좋음  0.017      좋음  0.023
1 2021-05-15 14:00:00     보통  43.0      보통   20.0   좋음  0.024      좋음  0.019
2 2021-05-15 13:00:00     보통  34.0      보통   24.0   보통  0.035      좋음  0.017

  일산화탄소등급  일산화탄소 아황산가스등급  아황산가스
0      좋음    0.4      좋음  0.003
1      좋음    0.3      좋음  0.003
2      좋음    0.4      좋음  0.004

### <a id='toc1_5_15_'></a>[P78. 일자별 각 `PM10` 등급의 빈도수 파악하기](#toc0_)

- `df[컬럼명].dt.day_name()`을 통해 특정 컬럼의 값에 있는 값의 영어 요일 이름을 추출할 수 있다.

In [176]:
df['dayName'] =df['(년-월-일:시)'].dt.day_name()
Ans = df['dayName'] 

print(Ans.head(5))

0    Saturday
1    Saturday
2    Saturday
3    Saturday
4    Saturday
Name: dayName, dtype: object

### <a id='toc1_5_16_'></a>[P79. 시간이 연속적으로 존재하며 결측치가 없는지 확인하기](#toc0_)

- `pivot()` 함수는 데이터프레임의 구조를 변경하여 새로운 형태로 정렬하는데 사용된다. 
    - 특히, 행과 열의 값을 새로운 형태로 배치하고, 값에 해당하는 데이터를 채워 넣을 수 있다.

In [177]:
target = ['dayName', 'PM10등급']

Ans1 = df.groupby(by=target, as_index=False).size()   # 빈도수 파악
Ans2 = Ans1.pivot(index='dayName', columns='PM10등급', values='size').fillna(0)

print(Ans1.head())
print()
print(Ans2)

  dayName PM10등급  size
0  Friday     나쁨    31
1  Friday   매우나쁨    17
2  Friday     보통   120
3  Friday     좋음    21
4  Monday     나쁨     1

PM10등급       나쁨  매우나쁨     보통    좋음
dayName
Friday     31.0  17.0  120.0  21.0
Monday      1.0  21.0   83.0  63.0
Saturday   31.0  27.0   71.0  54.0
Sunday      2.0   1.0   67.0  98.0
Thursday   41.0   0.0  144.0   5.0
Tuesday    13.0  10.0   71.0  74.0
Wednesday  26.0   0.0   95.0  46.0

### <a id='toc1_5_17_'></a>[P80. 오전 10시와 오후 10시(22시)의 `PM10`의 평균값을 각각 구하기](#toc0_)

- 시간을 차분했을 경우 첫 값은 `NaN`, 이후 모든 차분값이 동일하면 연속이라 판단한다.

### <a id='toc1_5_18_'></a>[P81. 날짜 컬럼을 `index`로 만들기](#toc0_)

### P80. 오전 10시와 오후 10시(22시)의 `PM10`의 평균값을 각각 구하기

In [179]:
Ans = df.groupby(by=df['(년-월-일:시)'].dt.hour)['PM10'].mean().iloc[[10, 22]].to_frame() # 10번째와 22번째 행을 선택

print(Ans)

                PM10
(년-월-일:시)
10         70.384615
22         69.941176

### <a id='toc1_5_19_'></a>[P82. 데이터를 주 단위로 뽑아서 최소, 최대, 평균, 표준편차 구하기](#toc0_)

- `df.set_index(컬렴명)` 함수를 사용하여 특정 컬럼을 데이터프레임의 인덱스로 만들 수 있다.

## <a id='toc1_6_'></a>[Pivot](#toc0_)
---

### <a id='toc1_6_1_'></a>[P83. <`Indicator`>를 삭제하고 <`First Tooltip`> 컬럼에서 신뢰 구간에 해당하는 표현 지우기](#toc0_)

In [ ]:
Ans = df.resample('W').agg(['min', 'max', 'mean', 'std'])   # 주 단위로 뽑기

print(Ans.head(5))

### <a id='toc1_6_2_'></a>[P84. 년도가 2015년 이상, <`Dim1`>이 `Both sexes`인 케이스만 추출하기](#toc0_)

### P83. <`Indicator`>를 삭제하고 <`First Tooltip`> 컬럼에서 신뢰 구간에 해당하는 표현 지우기

### <a id='toc1_6_3_'></a>[P85. `P84`에서 추출한 데이터로 아래와 같이 나라에 따른 년도별 사망률을 데이터프레임화 하기](#toc0_)

### P84. 년도가 2015년 이상, <`Dim1`>이 `Both sexes`인 케이스만 추출하기

### <a id='toc1_6_4_'></a>[P86. <`Dim1`>에 따른 년도별 사망 비율의 평균 구하기](#toc0_)

### P85. `P84`에서 추출한 데이터로 아래와 같이 나라에 따른 년도별 사망률을 데이터프레임화 하기

### <a id='toc1_6_5_'></a>[P87. 데이터를 로드하고 한국 `KOR` 데이터만 추출하기](#toc0_)

### P86. <`Dim1`>에 따른 년도별 사망 비율의 평균 구하기

### <a id='toc1_6_6_'></a>[P88. 한국 올림픽 메달리스트 데이터에서 년도에 따른 `Medal` 개수를 데이터프레임화 하기](#toc0_)

### P87. 데이터를 로드하고 한국 `KOR` 데이터만 추출하기

### <a id='toc1_6_7_'></a>[P89. 전체 데이터에서 `Sport` 종류에 따른 성별 수 구하기](#toc0_)

### P88. 한국 올림픽 메달리스트 데이터에서 년도에 따른 `Medal` 개수를 데이터프레임화 하기

### <a id='toc1_6_8_'></a>[P90. 전체 데이터에서 `Discipline` 종류에 따른 `Medal` 수 구하기](#toc0_)

### P89. 전체 데이터에서 `Sport` 종류에 따른 성별 수 구하기

## <a id='toc1_7_'></a>[Merge, Concat](#toc0_)
---

### P90. 전체 데이터에서 `Discipline` 종류에 따른 `Medal` 수 구하기

In [190]:
Ans = df.pivot_table(index='Discipline', columns='Medal', aggfunc='size')

print(Ans)

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197

## 07. Merge, Concat
---

### <a id='toc1_7_1_'></a>[P91. `df1`과 `df2` 데이터를 하나의 데이터프레임으로 합치기](#toc0_)

In [192]:
df3 = df.iloc[:2, :4]
df4 = df.iloc[5:, 3:]

display(df3)
display(df4)

               2010    2011    2012    2013
Location
Afghanistan  64.023  61.640  59.367  57.170
Albania      11.803  10.807   9.943   9.267

                       2013    2014    2015    2016    2017    2018    2019
Location
Antigua and Barbuda   7.420   7.070   6.757   6.483   6.230   6.000   5.783
Argentina            11.283  10.733  10.203   9.683   9.177   8.680   8.227
Armenia              14.170  13.477  12.817  12.183  11.583  11.007  10.497
Australia             3.467   3.343   3.253   3.183   3.137   3.090   3.047
Austria               3.210   3.113   3.043   2.987   2.943   2.897   2.843

### <a id='toc1_7_2_'></a>[P92. `df3`과 `df4` 데이터를 하나의 데이터프레임으로 합치기](#toc0_)

※ 둘 다 포함하고 있는 년도에 대해서만 고려하기

### P91. `df1`과 `df2` 데이터를 하나의 데이터프레임으로 합치기

### <a id='toc1_7_3_'></a>[P93. `df3`과 `df4` 데이터를 하나의 데이터프레임으로 합치기](#toc0_)

※ 모든 컬럼은 포함하고, 결측치는 0으로 대체하기

### P92. `df3`과 `df4` 데이터를 하나의 데이터프레임으로 합치기 

※ 둘 다 포함하고 있는 년도에 대해서만 고려하기

### <a id='toc1_7_4_'></a>[P94. `df5`와 `df6` 데이터를 하나의 데이터프레임으로 `merge` 함수를 이용하여 합치는데 `Algeria` 컬럼을 `key`로 하고 두 데이터를 모두 포함하는 데이터만 출력하기](#toc0_)

### P93. `df3`과 `df4` 데이터를 하나의 데이터프레임으로 합치기

※ 모든 컬럼은 포함하고, 결측치는 0으로 대체하기

### <a id='toc1_7_5_'></a>[P95. `df5`와 `df6` 데이터를 하나의 데이터프레임으로 `merge` 함수를 이용하여 합치는데 `Algeria` 컬럼을 `key`로 하고 합집합으로 합치기](#toc0_)

### P94. `df5`와 `df6` 데이터를 하나의 데이터프레임으로 `merge` 함수를 이용하여 합치는데 `Algeria` 컬럼을 `key`로 하고 두 데이터를 모두 포함하는 데이터만 출력하기

In [197]:
Ans = pd.merge(df5, df6, on='Algeria', how='inner')   # 교집합

Ans

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51

### P95. `df5`와 `df6` 데이터를 하나의 데이터프레임으로 `merge` 함수를 이용하여 합치는데 `Algeria` 컬럼을 `key`로 하고 합집합으로 합치기

In [198]:
Ans = pd.merge(df5, df6, on='Algeria', how='outer')   # 합집합

Ans

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0                 NaN      NaN   19.930    2.827  50.093
1                 NaN      NaN   20.407    2.933  51.757
2                 NaN      NaN   20.850    3.060  53.460
3              51.267    8.363   21.257    3.187  55.510
4              53.107    8.493   21.587      NaN     NaN
5              55.080    8.790   21.850      NaN     NaN
6              57.170    9.267   22.117      NaN     NaN
7              59.367    9.943   22.450      NaN     NaN
8              61.640   10.807   22.907      NaN     NaN
9              64.023   11.803   23.540      NaN     NaN