# 분류 모델 완벽 마스터
---

In [1]:
import pandas as pd

X_train = pd.read_csv('./datasets/stellar_X_train.csv')
X_test = pd.read_csv('./datasets/stellar_X_test.csv')
y_train = pd.read_csv('./datasets/stellar_y_train.csv')

In [5]:
print(X_train.shape, X_test.shape, y_train.shape)

(70000, 13) (30000, 13) (70000, 1)

In [2]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     70000 non-null  float64
 1   delta     70000 non-null  float64
 2   u         70000 non-null  float64
 3   g         70000 non-null  float64
 4   r         70000 non-null  float64
 5   i         70000 non-null  float64
 6   z         70000 non-null  float64
 7   redshift  70000 non-null  float64
 8   run_ID    70000 non-null  int64
 9   rerun_ID  70000 non-null  int64
 10  cam_col   70000 non-null  int64
 11  field_ID  70000 non-null  int64
 12  plate     70000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 6.9 MB
None

In [3]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     30000 non-null  float64
 1   delta     30000 non-null  float64
 2   u         30000 non-null  float64
 3   g         30000 non-null  float64
 4   r         30000 non-null  float64
 5   i         30000 non-null  float64
 6   z         30000 non-null  float64
 7   redshift  30000 non-null  float64
 8   run_ID    30000 non-null  int64
 9   rerun_ID  30000 non-null  int64
 10  cam_col   30000 non-null  int64
 11  field_ID  30000 non-null  int64
 12  plate     30000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 3.0 MB
None

In [4]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   galaxy  70000 non-null  int64
dtypes: int64(1)
memory usage: 547.0 KB
None

In [6]:
print(X_train.describe())

              alpha         delta             u             g             r  \
count  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000
mean     177.535809     24.107885     21.938806     20.486718     19.644011
std       96.483093     19.665057     37.942814     37.925201      1.852053
min        0.005528    -18.785328  -9999.000000  -9999.000000      9.822070
25%      127.385304      5.115922     20.349987     18.957325     18.136183
50%      180.706865     23.579507     22.183860     21.095445     20.122805
75%      233.942154     39.871336     23.684145     22.121073     21.039012
max      359.999615     82.947622     32.781390     31.602240     29.571860

                  i             z      redshift        run_ID  rerun_ID  \
count  70000.000000  70000.000000  70000.000000  70000.000000   70000.0
mean      19.082969     18.624590      0.575246   4478.649443     301.0
std        1.755997     37.904705      0.729921   1965.326847       0.0
min        9.469903  -9999.000000     -0.009971    109.000000     301.0
25%       17.733732     17.463838      0.052602   3185.000000     301.0
50%       19.399590     19.001010      0.422838   4188.000000     301.0
75%       20.391340     19.917578      0.700399   5326.000000     301.0
max       32.141470     28.790550      7.011245   8162.000000     301.0

            cam_col      field_ID         plate
count  70000.000000  70000.000000  70000.000000
mean       3.510500    186.045714   5127.852900
std        1.585203    148.661268   2947.452991
min        1.000000     11.000000    266.000000
25%        2.000000     82.000000   2525.750000
50%        4.000000    146.000000   4978.000000
75%        5.000000    241.000000   7389.000000
max        6.000000    989.000000  12547.000000

In [9]:
# 이상치 탐색
print(X_train[X_train['u'] == -9999])
print(X_train[X_train['g'] == -9999])
print(X_train[X_train['z'] == -9999])

# 이상치 제거
X_train = X_train.loc[X_train['u'] != -9999]
X_train = X_train.loc[X_train['g'] != -9999]
X_train = X_train.loc[X_train['z'] != -9999]

# 인덱스 초기화
X_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)

print(X_train.describe())

Empty DataFrame
Columns: [alpha, delta, u, g, r, i, z, redshift, run_ID, rerun_ID, cam_col, field_ID, plate]
Index: []
Empty DataFrame
Columns: [alpha, delta, u, g, r, i, z, redshift, run_ID, rerun_ID, cam_col, field_ID, plate]
Index: []
Empty DataFrame
Columns: [alpha, delta, u, g, r, i, z, redshift, run_ID, rerun_ID, cam_col, field_ID, plate]
Index: []
              alpha         delta             u             g             r  \
count  69999.000000  69999.000000  69999.000000  69999.000000  69999.000000
mean     177.535145     24.108238     22.081964     20.629856     19.644032
std       96.483622     19.664976      2.248554      2.033576      1.852057
min        0.005528    -18.785328     10.996230     10.498200      9.822070
25%      127.384192      5.117238     20.350000     18.957435     18.136075
50%      180.705886     23.580630     22.183900     21.095450     20.122810
75%      233.942330     39.872079     23.684160     22.121075     21.039035
max      359.999615     82.947622     32.781390     31.602240     29.571860

                  i             z      redshift        run_ID  rerun_ID  \
count  69999.000000  69999.000000  69999.000000  69999.000000   69999.0
mean      19.082984     18.767701      0.575254   4478.702681     301.0
std        1.756005      1.764734      0.729923   1965.290408       0.0
min        9.469903      9.612333     -0.009971    109.000000     301.0
25%       17.733685     17.463885      0.052608   3185.000000     301.0
50%       19.399590     19.001020      0.422848   4188.000000     301.0
75%       20.391350     19.917595      0.700399   5326.000000     301.0
max       32.141470     28.790550      7.011245   8162.000000     301.0

            cam_col      field_ID         plate
count  69999.000000  69999.000000  69999.000000
mean       3.510522    186.040701   5127.878813
std        1.585204    148.656411   2947.466071
min        1.000000     11.000000    266.000000
25%        2.000000     82.000000   2525.500000
50%        4.000000    146.000000   4978.000000
75%        5.000000    241.000000   7389.000000
max        6.000000    989.000000  12547.000000