# 20240609
---

## 제1유형
---

### 문제 1

In [26]:
import pandas as pd
import numpy as np

df = pd.read_csv('./datasets/P210201.csv')

df.describe()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,253.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,1.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,127.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,253.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,379.750000,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,506.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [32]:
top10 = df['crim'].sort_values(ascending=False).head(10)   # 내림차순 정렬 후 상위 10개만 뽑아내기

top10value = top10.iloc[9]   # 10번째 값 뽑아내기

crit1 = df['crim'] >= top10value
df['crim'] = np.where(crit1, top10value, df['crim'])   # top10value 보다 크거나 같으면 top10value 값으로 변환

# age가 80이상인 값에 대하여 crim의 평균 구하기
crit2 = df['age'] >= 80
over80 = df[crit2]

ans = round(over80['crim'].mean(), 2)   # 소수점 2째자리까지 출력
print(ans)

5.76

### 문제 2

In [40]:
import numpy as np
import pandas as pd

housing = pd.read_csv('./datasets/P210202.csv')

## 훈련 데이터 추출
nrow = int(len(df) * 0.8)   # 첫번째행부터 순서대로 80%까지
df = housing.iloc[:nrow, :]
df = pd.DataFrame(df)

a = df['total_bedrooms'].std()    # 대체 전의 표준편차

## 결측값을 중앙값으로 대체
median_train = df['total_bedrooms'].median()   # 중앙값
df['total_bedrooms'] = df['total_bedrooms'].fillna(median_train)

b = df['total_bedrooms'].std()   # 대체 후의 표준편차

## 대체 전과 대체 후의 total_bedrooms 변수 표준편차 값 차이의 절댓값 구하기
ans = round(np.abs(a - b), 2)
print(ans)

1.86

### 문제 3

In [43]:
import pandas as pd
import numpy as np

df = pd.read_csv('./datasets/P210203.csv')

# 이상값 구하기 평균-1.5표준편차 <= x <= 평균+1.5표준편차
upper = np.mean(df['charges']) + 1.5 * np.std(df['charges'])
lower = np.mean(df['charges']) - 1.5 * np.std(df['charges'])

# 이상값의 합 구하기
crit = (df['charges'] >= upper) | (df['charges'] <= lower)
result = df[crit]['charges'].sum()

ans = int(result)

print(ans)

6421430

### 문제 4

In [47]:
import pandas as pd
import numpy as np

df = pd.read_csv('./datasets/P210301.csv')

# 결측값 개수 확인
print(sum(df.isnull().any(axis=1)))

# 결측값 제거
df = df.dropna()

# 결측값 개수 확인
print(sum(df.isnull().any(axis=1)))

# 상위 70%의 데이터를 학습 데이터로 만들기
nrow = int(len(df) * 0.7)   # 상위 70%
df = df.iloc[:nrow, :]

# house_median_age 컬럼의 Q1 구하기
ans = int(np.quantile(df['housing_median_age'], q=0.25))   # 정수로 출력
print(ans)

207
0
19

### 문제 5

In [51]:
import pandas as pd
import numpy as np

df = pd.read_csv('./datasets/P210302.csv')
cs = df.isna().sum() / len(df)

print(cs)

cs = pd.DataFrame(cs)
ds = cs.sort_values(by=0, ascending=False)   # 내림차순
print(ds.index[0])

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Embarked       0.002245
dtype: float64
Age

### 문제 5